anyascii==0.3.3
asgiref==3.11.0
asttokens==3.0.1
beautifulsoup4==4.14.3
black==26.1.0
boto3==1.42.31
botocore==1.42.31
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
decorator==5.2.1
defusedxml==0.7.1
Django==5.2.10
django-debug-toolbar==6.3.0
django-filter==25.2
django-htmx==1.27.0
django-modelcluster==6.4.1
django-permissionedforms==0.1
django-storages==1.14.6
django-stubs-ext==5.2.9
django-taggit==6.1.0
django-tasks==0.8.1
django-treebeard==4.8.0
djangorestframework==3.16.1
draftjs_exporter==5.2.0
et_xmlfile==2.0.0
executing==2.2.1
filetype==1.2.0
html5lib==1.1
idna==3.11
ipython==9.9.0
ipython_pygments_lexers==1.1.1
isort==7.0.0
jedi==0.19.2
jmespath==1.0.1
l18n==2021.3
laces==0.1.2
matplotlib-inline==0.2.1
modelsearch==1.1.1
mypy_extensions==1.1.0
openpyxl==3.1.5
packaging==25.0
parso==0.8.5
pathspec==1.0.3
pexpect==4.9.0
pillow==12.1.0
pillow_heif==1.1.1
platformdirs==4.5.1
polib==1.2.0
prompt_toolkit==3.0.52
psycopg==3.3.2
ptyprocess==0.7.0
pur==7.3.3
pure_eval==0.2.3
Pygments==2.19.2
pyicu==2.16
python-dateutil==2.9.0.post0
pytokens==0.4.0
pytz==2025.2
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
stack-data==0.6.3
telepath==0.3.1
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.6.3
wagtail==7.2.1
wagtail-localize==1.12.2
Wand==0.6.13
wcwidth==0.2.14
webencodings==0.5.1
Willow==1.12.0
