anyascii==0.3.2
asgiref==3.8.1
asttokens==3.0.0
beautifulsoup4==4.13.4
black==25.1.0
boto3==1.38.36
botocore==1.38.36
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
decorator==5.2.1
defusedxml==0.7.1
Django==5.2.3
django-filter==25.1
django-htmx==1.23.0
django-modelcluster==6.4
django-permissionedforms==0.1
django-storages==1.14.6
django-stubs-ext==5.2.0
django-taggit==6.1.0
django-tasks==0.7.0
django-treebeard==4.7.1
djangorestframework==3.16.0
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
executing==2.2.0
filetype==1.2.0
html5lib==1.1
idna==3.10
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isort==6.0.1
jedi==0.19.2
jmespath==1.0.1
l18n==2021.3
laces==0.1.2
matplotlib-inline==0.1.7
mypy_extensions==1.1.0
openpyxl==3.1.5
packaging==25.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
pillow_heif==0.21.0
platformdirs==4.3.8
polib==1.2.0
prompt_toolkit==3.0.51
psycopg2==2.9.10
ptyprocess==0.7.0
pur==7.3.3
pure_eval==0.2.3
Pygments==2.19.1
pyicu==2.15.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
s3transfer==0.13.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
stack-data==0.6.3
telepath==0.3.1
traitlets==5.14.3
typing_extensions==4.14.0
urllib3==2.4.0
wagtail==7.0.1
wagtail-localize==1.12.1
wcwidth==0.2.13
webencodings==0.5.1
Willow==1.10.0
