anyascii==0.3.2
asgiref==3.8.1
asttokens==3.0.0
beautifulsoup4==4.12.3
black==24.10.0
boto3==1.35.98
botocore==1.35.98
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
decorator==5.1.1
defusedxml==0.7.1
Django==5.1.4
django-filter==24.3
django-htmx==1.21.0
django-modelcluster==6.4
django-permissionedforms==0.1
django-storages==1.14.4
django-taggit==6.1.0
django-treebeard==4.7.1
djangorestframework==3.15.2
draftjs-exporter==5.0.0
et_xmlfile==2.0.0
executing==2.1.0
filetype==1.2.0
html5lib==1.1
idna==3.10
ipython==8.31.0
isort==5.13.2
jedi==0.19.2
jmespath==1.0.1
l18n==2021.3
laces==0.1.2
matplotlib-inline==0.1.7
mypy-extensions==1.0.0
openpyxl==3.1.5
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
pillow_heif==0.21.0
platformdirs==4.3.6
polib==1.2.0
prompt_toolkit==3.0.48
psycopg2==2.9.10
ptyprocess==0.7.0
pur==7.3.3
pure_eval==0.2.3
Pygments==2.19.1
PyICU==2.14
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
s3transfer==0.10.4
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
telepath==0.3.1
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.3.0
wagtail==6.3.2
wagtail-localize==1.11.1
wcwidth==0.2.13
webencodings==0.5.1
Willow==1.9.0
