.page.custom {
  background-color: #FFF8F6;
}

/* focus borders */
button:focus {
  outline: 5px auto #333333;
  border: 1px solid #333333;
  box-shadow: 0 0 0 0.2rem rgba(221, 120, 107, 0.25);
}

.page.custom .form-control:focus,
.page.custom .card-payment .focus {
  /* payment fields */
  border: 1px solid #333333;
  box-shadow: 0 0 0 0.2rem rgba(221, 120, 107, 0.25);
}

/* donation option button background, border and box shadow */
.page.custom .donation-option .donation-option__content-wrapper {
  border: 1px solid #333333;
  background-color: white;
}

/* on focus */
.page.custom .donation-option:focus .donation-option__content-wrapper {
  /* border-width: 2px; */
}

/* .page.custom
  .donation-option
  .donation-option__content-wrapper
  .donation-option__icon
  .icon {
  color: #e7a197;
} */

/* donation option selected styles */
.page.custom
  .donation-option.donation-option--selected
  .donation-option__content-wrapper {
  border-width: 2px;
  background-color: #FFD1C7;
}

.page.custom
  .donation-option.donation-option
  .donation-option__content-wrapper
  path.circle {
  stroke-width: 1px;
}

.page.custom
  .donation-option.donation-option--selected
  .donation-option__content-wrapper
  path.circle {
  fill: #ffffff;
  stroke-width: 2px;
}

.page.custom
  .donation-option.donation-option--selected
  .donation-option__content-wrapper
  path.checkmark {
  fill: #333333;
}

/**/

/* confirm button (go to next step) */
.page.custom .confirm-button-container .confirm-button {
  background-color: #FFD1C7;
  border: 1px solid #333333;
  padding: 0.5rem 1rem;
}

.page.custom .confirm-button-container .confirm-button .arrow,
.page.custom .confirm-button-container .confirm-button .hearts {
  display: none;
}

.page.custom .confirm-button-container .confirm-button .arrow-right,
.page.custom .confirm-button-container .confirm-button .hearts-left {
  display: block;
}

.page.custom .confirm-button-container .confirm-button .text {
  color: #333333;
  position: initial;
  font-style: normal;
}

@media (min-width: 768px) {
  .page.custom .confirm-button-container .confirm-button {
    font-size: 24px;
  }
}

.page.custom .cart-total {
  background-color: rgba(221, 120, 107, 0.15);
}

/* custom checkbox */
.page.custom
  .custom-control.custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::before {
  border-color: #333333;
  background-color: #333333;
}

.page.custom
  .custom-control.custom-checkbox
  .custom-control-input:focus
  ~ .custom-control-label::before {
  border-color: #333333;
  box-shadow: 0 0 0 0.2rem rgba(221, 120, 107, 0.25);
}

.page.custom
  .custom-control.custom-checkbox
  .custom-control-input:active
  ~ .custom-control-label::before {
  background-color: rgba(221, 120, 107, 0.25);
  border-color: rgba(221, 120, 107, 0.25);
}

.page.custom .checkout-stage .checkout-stage__terms a {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
}

/**/

/* donation switcher */
.page.custom .payment-switcher .nav .nav-item .nav-link {
  /* font-family: 'Alegreya', sans-serif;
  font-weight: 700;
  font-style: italic; */
}

.page.custom .payment-switcher .nav .nav-item .nav-link.active {
  background-color: rgba(221, 120, 107, 0.3);
}

/**/
