{% load i18n wagtailcore_tags static %}

<div class="bg-light">
  <div class="max-w-[1280px] mx-auto">
    <div class="grid grid-cols-3 gap-14 p-14 sm-max:p-6 sm-max:grid-cols-1">
      <div>
        <div class="leading-5">
          <span class="font-semibold">Danes je nov dan</span><br>
          <span class="font-semibold">Inštitut za druga vprašanja</span><br>
          Resljeva cesta 25<br>
          1000 Ljubljana<br>
        </div>
        <div class="mt-4 leading-5">
          <a href="mailto:vsi@danesjenovdan.si">vsi@danesjenovdan.si</a><br>
          <a href="tel:+36864163663">+368 64 163 663</a> (med 10. in 16. uro)
        </div>
        <div class="flex flex-wrap gap-5 mt-6">
          <a class="shrink-0 transition-all duration-150 hover:scale-110" href="https://mas.to/@danesjenovdan"><img class="w-8 h-8" src="{% static "img/social/mastodon.svg" %}" alt="Mastodon"></a>
          <a class="shrink-0 transition-all duration-150 hover:scale-110" href="https://www.tiktok.com/@danesjenovdan"><img class="w-8 h-8" src="{% static "img/social/tiktok.svg" %}" alt="TikTok"></a>
          <a class="shrink-0 transition-all duration-150 hover:scale-110" href="https://www.instagram.com/danesjenovdan"><img class="w-8 h-8" src="{% static "img/social/instagram.svg" %}" alt="Instagram"></a>
          <a class="shrink-0 transition-all duration-150 hover:scale-110" href="https://twitter.com/danesjenovdan"><img class="w-8 h-8" src="{% static "img/social/x.svg" %}" alt="X"></a>
          <a class="shrink-0 transition-all duration-150 hover:scale-110" href="https://facebook.com/danesjenovdan"><img class="w-8 h-8" src="{% static "img/social/facebook.svg" %}" alt="Facebook"></a>
          <a class="shrink-0 transition-all duration-150 hover:scale-110" href="https://www.youtube.com/channel/UCWMqx3p_QtWjdDRq58Hfh_w"><img class="w-8 h-8" src="{% static "img/social/youtube.svg" %}" alt="YouTube"></a>
        </div>
      </div>

      <div>
        <div>
          <span class="font-semibold">{% translate "Naroči se na Občasnik, naš mesečni novičnik" %}</span>
        </div>
        {% include 'home/partials/newsletter_form.html' with id=0 color_scheme='mint' %}
      </div>

      <div>
        <div class="flex flex-col gap-5 leading-5">
          <a href="https://github.com/danesjenovdan" class="hover:underline">
            <span>{% translate "Vsa naša koda je dostopna pod CC0 licenco. Najdeš jo na Githubu" %}</span><img class="inline-block w-3 ml-1 -mt-1" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
          </a>
          {% if settings.home.GeneralSettings.privacy_policy_page %}
          <a href="{% pageurl settings.home.GeneralSettings.privacy_policy_page %}" class="hover:underline">
            <span>{% translate "Politika zasebnosti in varstva osebnih podatkov" %}</span><img class="inline-block w-3 ml-1 -mt-1" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
          </a>
          {% endif %}
          {% if settings.home.GeneralSettings.manage_newsletter_page %}
          <a href="{% pageurl settings.home.GeneralSettings.manage_newsletter_page %}" class="hover:underline">
            <span>{% translate "Uredi svoje naročnine na novičnike" %}</span><img class="inline-block w-3 ml-1 -mt-1" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
