{% load static i18n wagtailcore_tags wagtailimages_tags djnd_extras %}

<div class="flex px-6 py-4 justify-between">
  {% wagtail_site as current_site %}
  <a href="{% pageurl current_site.root_page.localized %}" class="block">
    <img src="{% static "img/djnd-logo-dark.svg" %}" alt="Danes je nov dan" class="h-9">
  </a>

  <button type="button" id="menu-button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
    <img src="{% static "img/meni.svg" %}" alt="Open menu" class="w-6 h-5">
    <img src="{% static "img/noun-close-5253213.svg" %}" alt="Close menu" class="w-6 h-5 hidden">
  </button>
</div>
