{% load static i18n wagtailcore_tags djnd_extras %}

<div class="px-6 pt-20">
  <a href="/" class="inline-block mb-5">
    <img src="{% static "img/djnd-logo-dark.svg" %}" alt="Danes je nov dan" class="h-9">
  </a>

  <div class="relative">
    <img src="{% static "img/noun-language-4113652.svg" %}" alt="" class="absolute left-2.5 w-4 h-[38px] pointer-events-none">
    <select id="lang-chooser" class="flex gap-2 w-full p-2 pl-8 border border-dark font-mono text-sm text-left" onchange="window.location.href = this.value">
      {% for language_code, language_name in LANGUAGES %}
        {% get_language_info for language_code as lang %}
        {% language language_code %}
          <option value="{% pageurl page.localized %}" data-lang="{{ language_code }}" {% if LANGUAGE_CODE == language_code %}selected{% endif %}>{{ lang.name_local }}</option>
        {% endlanguage %}
      {% endfor %}
    </select>
  </div>

  <hr class="my-10">

  <nav>
    <ul class="flex flex-col gap-3">
      {% for pillar_page in settings.home.NavigationSettings.pillars %}
      <li class="flex items-start gap-1 uppercase text-xl leading-5 font-semibold">
        <img src="{% static "img/emoji/clapping_hands_sign.svg" %}" alt="" class="w-4 mt-0.5">
        <a href="{% pageurl pillar_page.value.localized %}" class="hover:underline">{{ pillar_page.value.localized.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <hr class="my-10">

  <nav>
    <ul class="flex flex-col gap-3">
      {% for nav_page in settings.home.NavigationSettings.pages %}
      <li class="uppercase text-lg leading-5 font-semibold">
        <a href="{% pageurl nav_page.value.page.localized %}" class="hover:underline">{{ nav_page.value.page.localized.title }}</a>
        {% if nav_page.value.subpages %}
        <ul class="mt-1 ml-4 flex flex-col gap-1">
          {% for nav_subpage in nav_page.value.subpages %}
          <li class="normal-case text-base leading-5 font-normal">
            <a href="{% pageurl nav_subpage.localized %}" {% if page.id == nav_subpage.localized.id %}aria-current="page"{% endif %} class="hover:underline">{{ nav_subpage.localized.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
