{% load i18n static wagtailcore_tags wagtailimages_tags djnd_extras %}

<div class="border border-dark flex flex-col relative js-activity-card">
  {% if activity|sl_is_promoted %}
  <img src="{% static 'img/izpostavljeno.svg' %}" alt="" class="w-[1.875rem] h-[1.875rem] -left-[0.9375rem] -top-[0.9375rem] absolute">
  {% endif %}
  <a
    {% if activity.page %}href="{% pageurl activity.page %}"
    {% else %}href="{{ activity.link }}" target="_blank"{% endif %}
    class="peer"
  >
    {% image activity.image fill-1200x630 class="w-full h-auto object-cover" %}
  </a>
  <div class="border-t border-dark p-5 flex-grow peer-hover:bg-th-primary-light hover:bg-th-primary-light">
    {% if activity.date %}
    <p class="font-mono">{{ activity.date|date:"j. F Y" }}</p>
    {% endif %}
    <div class="mt-3 mb-4">
      <a
        {% if activity.page %}href="{% pageurl activity.page %}"
        {% else %}href="{{ activity.link }}" target="_blank"{% endif %}
        class="
          js-activity-card-link
          text-3lg font-semibold xl-max:text-lg/[1.15]
          bg-right-bottom bg-[length:0%_0.5em] bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary hover:bg-left-bottom hover:bg-[length:100%_0.5em] transition-[background-size] duration-700 ease-out
        "
      >{{ activity.title }}</a>
    </div>
    <p class="text-base/snug">{{ activity.description }}</p>
    {% if activity.note %}
    <div class="font-mono rich-text-mono leading-[1.1] mt-4">{{ activity.note|richtext }}</div>
    {% endif %}
    {% if settings.home.GeneralSettings.our_work_page %}
    <div class="flex flex-wrap mt-5">
      {% for tag in activity|sl_activity_tags:"pillar_page" %}
      {% include "home/partials/activity_tag.html" with tag=tag filter_name="pillars" color_hover=True %}
      {% endfor %}
      {% for tag in activity|sl_activity_tags:"category" %}
      {% include "home/partials/activity_tag.html" with tag=tag filter_name="categories" %}
      {% endfor %}
      {% for tag in activity|sl_activity_tags:"project" %}
      {% include "home/partials/activity_tag.html" with tag=tag filter_name="projects" %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
