{% load static wagtailcore_tags wagtailimages_tags %}

<div>
  <input
    type="checkbox" name="{{ filter_name }}" class="peer hidden" onchange="filterOurWork()"
    {% if filter_values != None and filter %}
      {% firstof filter.localized.name filter.localized.title as title %}
      value="{{ title|slugify }}" id="id_{{ filter_name }}_{{ filter.id }}"
      {% if filter.id|slugify in filter_values %}checked{% endif %}
    {% else %}
      id="id_{{ filter_name }}"
      {% if filter_value %}checked{% endif %}
    {% endif %}
  >
  <label
    {% if filter_values != None and filter %}
      for="id_{{ filter_name }}_{{ filter.id }}"
    {% else %}
      for="id_{{ filter_name }}"
    {% endif %}
    class="
      flex shrink-0 items-center min-h-6 align-top px-2.5 py-1 shadow-dark shadow-[0px_0px_0px_1px] rounded-full text-sm/none cursor-pointer whitespace-nowrap
      peer-checked:bg-th-primary peer-checked:shadow-[0px_0px_0px_2px]
      transition-all duration-150 hover:scale-105 hover:shadow-[0px_0px_0px_2px] hover:bg-th-primary
    "
  >
  {% if filter %}
    {% if filter.localized.icon %}
    {% image filter.localized.icon height-32 class="h-[14px] w-auto me-2 overflow-hidden" %}
    {% endif %}
    {% firstof filter.localized.name filter.localized.title as title %}
    <span class="-mt-0.5 leading-[16px]">{{ title }}</span>
  {% else %}
    {% if filter_image %}
    <img class="h-[14px] w-auto me-2 overflow-hidden" height="32px" src="{% static filter_image %}" alt="">
    {% endif %}
    <span class="-mt-0.5 leading-[16px]">{{ filter_title }}</span>
  {% endif %}
  </label>
</div>
