{% load static wagtailcore_tags %}

<a
  class="
    inline-flex justify-between min-w-[300px] mt-6 px-4 pt-2.5 pb-3 text-lg font-semibold
    theme-color-{{ button_color }} bg-th-primary shadow-dark shadow-[0px_0px_0px_1px] group
    transition-all duration-150 hover:scale-105 hover:shadow-[0px_0px_0px_2px]
  "
  href="{% if button_page_link %}{% pageurl button_page_link %}{% else %}{{ button_link }}{% endif %}"
>
  <span>{{ button_text }}</span><img class="w-5 ml-4 -mb-0.5 group-hover:animate-arrow-hover" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
</a>
