{% load i18n wagtailcore_tags static %}

<form class="mt-4 theme-color-{{ color_scheme }}" @submit.prevent="subscribeToNewsletter('{{ blockname }}-{{ id }}')" x-data="subscribe">
  <div>
    <label for="subscribe-email-{{ blockname }}-{{ id }}" class="font-mono text-sm">{% translate "Vpiši svoj e-naslov" %}</label>
    <input type="email" id="subscribe-email-{{ blockname }}-{{ id }}" class="w-full px-2 pt-1.5 pb-2 border border-dark font-semibold" required>
  </div>
  <div class="flex gap-2 mt-2">
    <input id="subscribe-consent-{{ blockname }}-{{ id }}" type="checkbox" value="" class="w-6 h-6 flex-shrink-0 border border-dark" required>
    <label for="subscribe-consent-{{ blockname }}-{{ id }}" class="font-mono text-sm leading-4">{% translate 'Strinjam se, da mi Danes je nov dan po e-pošti pošilja Občasnik in druga obvestila.' %}</label>
  </div>
  <div class="mt-6">
    <button
      class="flex justify-between w-full px-2 pt-1.5 pb-2 border border-dark bg-th-primary font-semibold">
      <span x-show="!loading">{% translate 'Naroči se' %}</span><img x-show="!loading" class="w-4 -mb-0.5" src="{% static 'img/noun-arrow-right-1434311.svg' %}" alt="">
      <span x-show="loading" class="loader"></span>
    </button>
  </div>
</form>
