{% load wagtailcore_tags wagtailimages_tags %}

<div class="border-t border-dark">
  <div class="max-w-[1280px] mx-auto px-14 py-10 sm-max:px-6 sm-max:py-8">
    <h2 class="text-2xl font-semibold xl-max:text-2lg">{{ section_title }}</h2>
    <p class="text-md mb-8">{{ section_description }}</p>
    {% for item in items %}
    <div class="mb-4 w-8/12 sm-max:w-full">
      <div class="pb-4">
        {% if item.value.image or item.image %}
        <div class="pb-4">
          {% if item.value.image %}
          {% image item.value.image height-640 class="w-auto max-h-[320px] mx-auto" %}
          {% elif item.image %}
          {% image item.image height-640 class="w-auto max-h-[320px] mx-auto" %}
          {% endif %}
        </div>
        {% endif %}
        <div>
          <h3 class="text-2lg/[1.15] font-semibold mt-1.5 mb-3">
            <a href="{% firstof item.value.link item.link %}" target="_blank" class="bg-right-bottom bg-[length:0%_0.5em] bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary hover:bg-left-bottom hover:bg-[length:100%_0.5em] transition-[background-size] duration-500 ease-out">
              {% firstof item.value.name item.name %}
            </a>
          </h3>
          {% firstof item.value.description item.description as description %}
          <div class="mb-2 text-base/snug rich-text rich-text--base">
            {{ description|richtext }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
