
<div class="border-t border-dark">
  <div class="max-w-[1280px] mx-auto px-14 py-10 max-sm:px-6 max-sm:pb-5">
    <div class="w-8/12 max-lg:w-full">
      <h2 class="text-2xl font-semibold max-xl:text-2lg">{{ section_title }}</h2>
      <p class="text-md mt-3 mb-8">{{ section_description }}</p>
    </div>
    <div class="grid grid-cols-3 gap-4 max-lg:grid-cols-2 max-sm:grid-cols-1">
        {% for item in items %}
          {% if item.value.name or item.value.title %}
          {% include "home/partials/blog_activity.html" with activity=item.value %}
          {% else %}
          {% include "home/partials/blog_activity.html" with activity=item %}
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
