{% load i18n djnd_extras %}

{% for activity in activities %}
  {% if activity|has_english_translation:request.LANGUAGE_CODE %}
    {% include 'home/partials/activity.html' with activity=activity %}
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
<button class="absolute bottom-0 left-0 right-0 mx-auto" hx-trigger="click" hx-get="{% url 'activities-homepage' %}?{{ request.META.QUERY_STRING }}&page={{ page_obj.next_page_number }}" hx-swap="outerHTML">{% translate "Več aktivnosti" %}</button>
{% endif %}