{% load static i18n djnd_extras %}

{% for activity in activities %}
  {% if activity|has_english_translation:request.LANGUAGE_CODE %}
    {% include 'home/partials/activity.html' with activity=activity %}
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
<div class="absolute bottom-0 left-0 right-0 mx-auto text-center">
  <a
    class="inline-flex text-md font-medium hover:font-bold theme-color-{{ button_color }} tertiary-button group xl-max:text-smd"
    hx-get="{% url 'activities-homepage' %}?{{ request.META.QUERY_STRING }}&page={{ page_obj.next_page_number }}"
    hx-trigger="click" hx-swap="outerHTML" hx-target="closest .absolute"
    href="javascript:;"
  >
    <span>{% translate "Več aktivnosti" %}</span><img class="w-4 ml-4 -mb-0.5 group-hover:animate-arrow-hover-down" src="{% static "img/noun-arrow-down-1434311.svg" %}" alt="">
  </a>
</div>
{% endif %}
