{% extends "wrapper.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-blogpage theme-color-{{ page.color }}{% endblock %}

{% block content %}

<div class="bg-white">
  <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pt-16">
    <div class="basis-8/12">
        {% for pillar in page.pillar_page.all %}
        <span class="bg-th-primary-light text-sm rounded-full px-3 me py-1 mb-4 inline-flex items-center font-mono border border-dark">
          {% if pillar.icon %}
          {% image pillar.icon fill-32x32 class="w-4 me-2" %}
          {% endif %}
          {{ pillar.title }}
        </span>
        {% endfor %}
        {% for category in page.category.all %}
        <span class="bg-th-primary-light text-sm rounded-full px-3 py-1 mb-4 inline-flex items-center font-mono border border-dark">
          {% if category.icon %}
          {% image category.icon fill-32x32 class="w-4 me-2" %}
          {% endif %}
          {{ category.name }}
        </span>
        {% endfor %}
        {% for project in page.project.all %}
        <span class="bg-th-primary-light text-sm rounded-full px-3 py-1 mb-4 inline-flex items-center font-mono border border-dark">
          {% if project.icon %}
          {% image project.icon fill-32x32 class="w-4 me-2" %}
          {% endif %}
          {{ project.name }}
        </span>
        {% endfor %}
        <h1 class="text-5xl font-semibold">{{ page.title }}</h1>
        <!-- <div class="rich-text">
            {{ value.text|richtext }}
        </div> -->
    </div>
    <div class="basis-4/12">&nbsp;</div>
  </div>
</div>

{% for block in page.modules %}
<div class="border-b border-dark last:border-b-0">
  {% include_block block %}
</div>
{% endfor %}

{% if page.more_blogs %}
<div class="bg-white">
  <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pt-16">
    <div class="basis-8/12">
        <h2 class="text-2xl font-semibold mb-3">{% translate "Povezani zapisi" %}</h2>
        <p class="mb-5">{% translate "Priporočamo, svetujemo, vabimo, opozarjamo in še kaj drugega" %}</p>
    </div>
    <div class="basis-4/12">&nbsp;</div>
  </div>

  <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pb-10">
    <div class="grid grid-cols-3 gap-4">
        {% for blog in page.more_blogs %}
        <div class="border border-dark">
            <a href="{{ blog.value.link }}" target="_blank">
            {% image blog.value.thumbnail width-300 class="w-full h-[180px] object-cover" %}
            </a>
            <div class="border-t border-dark p-5 pb-2">
              <a href="{{ blog.value.link }}" target="_blank" class="block text-2xl font-semibold mb-3 bg-left-bottom bg-[length:0%_0.5em] bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary group-hover:bg-[length:100%_0.5em] transition-all duration-500 ease-out">{{ blog.value.title }}</a>
              <p class="mb-6">{{ blog.value.short_description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pb-10 justify-center">
    <a href="/">{% translate "Prejšnji občasniki" %}</a>
  </div>
</div>
{% endif %}

{% endblock content %}
