{% extends "wrapper.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n djnd_extras %}

{% block body_class %}template-blogpage theme-color-{{ page.color }}{% endblock %}

{% block content %}

<div class="bg-white">
  <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pt-16 sm-max:block sm-max:px-6 sm-max:pb-8">
    <div class="basis-8/12">
      {% if settings.home.GeneralSettings.our_work_page %}
      <div class="flex flex-wrap">
        {% for tag in page|sl_activity_tags:"pillar_page" %}
        {% include "home/partials/activity_tag.html" with tag=tag filter_name="pillars" %}
        {% endfor %}
        {% for tag in page|sl_activity_tags:"category" %}
        {% include "home/partials/activity_tag.html" with tag=tag filter_name="categories" %}
        {% endfor %}
        {% for tag in page|sl_activity_tags:"project" %}
        {% include "home/partials/activity_tag.html" with tag=tag filter_name="projects" %}
        {% endfor %}
      </div>
      {% endif %}

      <h1 class="mb-6 last:mb-0 text-5xl font-semibold xl-max:text-2xl">{{ page.title }}</h1>
      {% if page.published_at %}
      <p class="mb-6 text-smd font-mono font-medium">{{ page.published_at|date:"j. F Y" }}</p>
      {% endif %}
    </div>
    <div class="basis-4/12 sm-max:hidden">&nbsp;</div>
  </div>
</div>

{% for block in page.modules %}
<div class="border-b border-dark last:border-b-0">
  {% include_block block %}
</div>
{% endfor %}

{% if page.more_blogs %}
<div class="bg-white">
  <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pt-16 sm-max:px-6 sm-max:pt-8">
    <div class="basis-8/12">
        <h2 class="text-2xl font-semibold mb-3 xl-max:text-lg">{% translate "Povezani zapisi" %}</h2>
        <p class="mb-5">{% translate "Priporočamo, svetujemo, vabimo, opozarjamo in še kaj drugega" %}</p>
    </div>
    <div class="basis-4/12">&nbsp;</div>
  </div>

  <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pb-10 sm-max:px-6 sm-max:pb-5">
    <div class="grid grid-cols-3 gap-4 sm-max:grid-cols-1">
        {% for blog in page.more_blogs %}
          {% include "home/partials/blog_activity.html" with activity=blog.value %}
        {% endfor %}
    </div>
  </div>

  <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pt-3 pb-14 justify-center">
    {% translate "Prejšnji občasniki" as button_text %}
    {% include 'home/partials/tertiary_button.html' with button_text=button_text button_color=page.color button_link="/" %}
  </div>
</div>
{% endif %}

{% endblock content %}
