{% extends "wrapper.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-homepage theme-color-{{ page.color }}{% endblock %}

{% block content %}
<div>
  <div class="border-b border-dark last:border-b-0 bg-white">
    <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pt-20">
      <div class="basis-8/12">
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold">{{ page.title }}</h1>
        {% if page.introduction %}
        <div class="text-xl leading-[3rem] font-normal">
          {{ page.introduction|richtext }}
        </div>
        {% endif %}
      </div>
      <div class="basis-4/12">
        <h2 class="mt-5 text-center font-semibold text-xl">{{ page.focus_areas_title }}</h2>
        <div class="my-6">
          {% for focus_area in page.focus_areas %}
          {% cycle 'one' 'two' 'three' 'four' as focus_cycle silent %}
          {% if focus_area.value.url or focus_area.value.page %}
          <a href="{% if focus_area.value.page %}{% pageurl focus_area.value.page %}{% else %}{{ focus_area.value.url }}{% endif %}">
          {% endif %}
          <div class="
            theme-color-{{ focus_area.value.color }}
            relative flex items-center gap-4 mt-4 px-8 py-11 shadow-dark shadow-[0px_0px_0px_1px] bg-th-primary group
            {% if focus_cycle == 'one' %}
            -rotate-2 -translate-x-3
            {% elif focus_cycle == 'two' %}
            rotate-3 translate-x-3
            {% elif focus_cycle == 'three' %}
            rotate-[-0.5deg] -translate-x-3
            {% elif focus_cycle == 'four' %}
            rotate-[4deg] translate-x-3
            {% endif %}
            transition-all duration-150 hover:scale-105 hover:shadow-[0px_0px_0px_2px] hover:z-10
          ">
            <div class="w-14 shrink-0">
              {% image focus_area.value.image fill-112x112 class="aspect-square" %}
            </div>
            <div class="flex-grow font-medium text-lg leading-none">
              {{ focus_area.value.name }}
            </div>
            <img class="w-5 ml-2 -mb-0.5 group-hover:animate-arrow-hover" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
          </div>
          {% if focus_area.value.url or focus_area.value.page %}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% for block in page.modules %}
  <div class="border-b border-dark last:border-b-0">
    {% include_block block %}
  </div>
  {% endfor %}


<div class="max-w-screen-xl mx-auto mt-16 px-14 pb-20">
  <div class="flex justify-between mb-6">
    <h2 class="mb-2 text-2xl font-semibold">Zadnje aktivnosti</h2>
    {% if settings.home.GeneralSettings.our_work_page %}
    <form id="our-work-form" action="{% pageurl settings.home.GeneralSettings.our_work_page %}" method="post" class="flex items-center">
      {% csrf_token %}

      <div class="me-2">
        <input type="checkbox" name="all" value="" class="peer hidden" id="id_all" checked>
        <label for="id_all" class="block px-4 pt-2.5 pb-3 border border-dark rounded-full text-md leading-none cursor-pointer peer-checked:bg-th-primary peer-checked:border-2">
          Vse
        </label>
      </div>

      <div class="me-2">
        <input type="checkbox" name="projects" value="1" class="peer hidden" id="id_projects_0" onchange="filterOurWork()">
        <label for="id_projects_0" class="block px-4 pt-2.5 pb-3 border border-dark rounded-full text-md leading-none cursor-pointer peer-checked:bg-th-primary peer-checked:border-2">
          DJND projekti
        </label>
      </div>

      <div class="me-2">
        <input type="checkbox" name="projects" value="1" class="peer hidden" id="id_projects_0" onchange="filterOurWork()">
        <label for="id_projects_0" class="block px-4 pt-2.5 pb-3 border border-dark rounded-full text-md leading-none cursor-pointer peer-checked:bg-th-primary peer-checked:border-2">
          Občasnik
        </label>
      </div>

      <a href="{% pageurl settings.home.GeneralSettings.our_work_page %}" class="hover:underline self-center">
        <span>{% translate "Vsi filtri" %}</span><img class="inline-block w-3 ml-1 -mt-1" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
      </a>

    </form>
    {% endif %}

  </div>
  <div class="grid grid-cols-3 gap-4">
    {% include 'home/activities.html' with activities=activities %}
  </div>
</div>

</div>
{% endblock content %}
