{% extends "wrapper.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n djnd_extras %}

{% block body_class %}template-homepage theme-color-{{ page.color }}{% endblock %}

{% block content %}
<div>
  <div class="border-b border-dark last:border-b-0 bg-white">
    <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pt-20 sm-max:block sm-max:px-6 sm-max:pt-8">
      <div class="basis-8/12">
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold xl-max:text-2xl">{{ page.title }}</h1>
        {% if page.introduction %}
        <div class="text-xl/[3rem] font-normal xl-max:text-2md" data-introduction="true">
          {{ page.introduction|richtext }}
        </div>
        {% endif %}
      </div>
      <div class="basis-4/12 sm-max:pt-8">
        <h2 class="mt-5 text-center font-semibold text-xl xl-max:text-lg/[1.15]">{{ page.focus_areas_title }}</h2>
        <div class="my-6">
          {% for focus_area in page.focus_areas %}
          {% cycle 'one' 'two' 'three' 'four' as focus_cycle silent %}
          {% if focus_area.value.url or focus_area.value.page %}
          <a href="{% if focus_area.value.page %}{% pageurl focus_area.value.page %}{% else %}{{ focus_area.value.url }}{% endif %}">
          {% endif %}
          <div data-linked-sentence="{{ focus_area.value.linked_sentence }}" data-color="{{ focus_area.value.color }}" class="
            theme-color-{{ focus_area.value.color }}
            relative flex items-center gap-4 mt-4 px-8 py-7 shadow-dark shadow-[0px_0px_0px_1px] bg-th-primary group
            {% if focus_cycle == 'one' %}
            -rotate-2 -translate-x-3
            {% elif focus_cycle == 'two' %}
            rotate-3 translate-x-3
            {% elif focus_cycle == 'three' %}
            rotate-[-0.5deg] -translate-x-3
            {% elif focus_cycle == 'four' %}
            rotate-[4deg] translate-x-3
            {% endif %}
            transition-all duration-150 hover:scale-105 hover:shadow-[0px_0px_0px_2px] hover:z-10
          ">
            <div class="w-14 shrink-0">
              {% image focus_area.value.image fill-112x112 class="aspect-square" %}
            </div>
            <div class="flex-grow font-medium text-lg/none xl-max:text-md">
              {{ focus_area.value.name }}
            </div>
            <img class="w-5 ml-2 -mb-0.5 group-hover:animate-arrow-hover" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
          </div>
          {% if focus_area.value.url or focus_area.value.page %}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% for block in page.modules %}
  <div class="border-b border-dark last:border-b-0">
    {% include_block block %}
  </div>
  {% endfor %}


  <div class="max-w-[1280px] mx-auto px-14 pt-16 pb-20 sm-max:block sm-max:px-6 sm-max:pt-8 sm-max:pb-10">
    <div class="flex justify-between mb-6">
      <h2 class="mb-2 text-2xl font-semibold xl-max:text-lg">Zadnje aktivnosti</h2>
      {% if settings.home.GeneralSettings.our_work_page %}
      <form id="our-work-form" action="{{ current_site }}" method="get" class="flex items-center sm-max:hidden">

        <div class="me-2">
          <input type="radio" name="filter" value="all" class="peer hidden" id="id_all" onchange="filterOurWork()" {% if request.GET.filter == 'all' or not request.GET.filter %}checked{% endif %}>
          <label for="id_all" class="inline-flex items-center px-4 pt-2.5 pb-3 border border-dark rounded-full text-md/none cursor-pointer peer-checked:bg-th-primary peer-checked:border-2">
            {% translate "Vse" %}
          </label>
        </div>

        <div class="me-2">
          <input type="radio" name="filter" value="promoted" class="peer hidden" id="id_promoted" onchange="filterOurWork()" {% if request.GET.filter == 'promoted' %}checked{% endif %}>
          <label for="id_promoted" class="inline-flex items-center px-4 pt-2.5 pb-3 border border-dark rounded-full text-md/none cursor-pointer peer-checked:bg-th-primary peer-checked:border-2">
            <img class="h-[20px] w-auto me-2" height="32px" src="{% static 'img/filter-izpostavljeno.png' %}" alt="">
            {% translate "Izpostavljeno" %}
          </label>
        </div>

        <div class="me-2">
          <input type="radio" name="filter" value="newsletter" class="peer hidden" id="id_newsletter" onchange="filterOurWork()" {% if request.GET.filter == 'newsletter' %}checked{% endif %}>
          <label for="id_newsletter" class="inline-flex items-center px-4 pt-2.5 pb-3 border border-dark rounded-full text-md/none cursor-pointer peer-checked:bg-th-primary peer-checked:border-2">
            <img class="h-[20px] w-auto me-2" height="32px" src="{% static 'img/filter-obcasnik.png' %}" alt="">
            {% translate "Občasnik" %}
          </label>
        </div>

        <a href="{% pageurl settings.home.GeneralSettings.our_work_page %}" class="hover:underline self-center">
          <span>{% translate "Vsi filtri" %}</span><img class="inline-block w-3 ml-1 -mt-1" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
        </a>

      </form>
      {% endif %}

    </div>
    <div class="grid grid-cols-3 gap-4 pb-[80px] relative sm-max:grid-cols-1">
      {% for activity in activities %}
        {% include 'home/partials/activity.html' with activity=activity %}

        {% if forloop.counter == 3 %}
          {% include 'home/partials/newsletter_card.html' with id=forloop.counter %}
        {% endif %}

        {% if forloop.counter == 7 %}
          {% include 'home/partials/support_card.html' %}
        {% endif %}
      {% endfor %}

      {% if activities.has_next %}
      <button class="absolute bottom-0 left-0 right-0 mx-auto" hx-trigger="click" hx-get="{% url 'activities-homepage' %}?{{ request.META.QUERY_STRING }}&page={{ activities.next_page_number }}" hx-swap="outerHTML">{% translate "Več aktivnosti" %}</button>
      {% endif %}
    </div>

  </div>

</div>
{% endblock content %}
