{% extends "wrapper.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-modularpage theme-color-{{ page.color }}{% endblock %}

{% block content %}
<div>

  <div class="border-b border-dark last:border-b-0 bg-th-primary-light">
    <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pt-20 pb-10 sm-max:flex-col-reverse sm-max:px-6 sm-max:pt-10 sm-max:pb-5">
      <div class="basis-8/12">
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold xl-max:text-2xl">{{ page.title }}</h1>
        {% if page.lead %}
        <p class="mb-6 last:mb-0 text-xl xl-max:text-lg/[1.15]">{{ page.lead }}</p>
        {% endif %}
        {% if page.description %}
        <div class="mb-6 rich-text">
          {{ page.description|richtext }}
        </div>
        {% endif %}
      </div>
      <div class="basis-4/12">
        {% if page.image %}
        {% image page.image width-752 class="w-full" %}
        {% endif %}
      </div>
    </div>
    {% if page.subpages %}
    <div class="grid grid-cols-3 gap-5 max-w-[1280px] mx-auto px-14 pb-20 sm-max:grid-cols-1 sm-max:px-6 sm-max:pb-10">
      {% for subpage in page.subpages %}
      <a href="{% pageurl subpage.value.page %}" class="bg-white flex items-center justify-between border border-dark py-6 px-2 hover:bg-th-primary">
        <div class="flex items-center justify-between">
          {% image subpage.value.icon width-300 class="w-[53px] shrink-0 mr-4 my-1" %}
          <div>
            <h2 class="text-2xl font-semibold xl-max:text-lg">{{ subpage.value.name }}</h2>
            <p class="leading-[1.3rem]">{{ subpage.value.description }}</p>
          </div>
        </div>
        <div class="grid place-content-center shrink-0 w-9 h-9 rounded-full bg-dark ml-4">
          <img class="w-4" src="{% static 'img/noun-arrow-right-white-1434311.svg' %}" alt="">
        </div>
      </a>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% for block in page.modules %}
  <div class="border-b border-dark last:border-b-0">
    {% include_block block with id=forloop.counter %}
  </div>
  {% endfor %}

</div>
{% endblock content %}
