{% extends "wrapper.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-newsletterlistpage theme-color-{{ page.color }}{% endblock %}

{% block content %}

<div>
  <div class="border-b border-dark bg-th-primary-light">
    <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pt-20 pb-10 sm-max:block sm-max:px-6 sm-max:pt-10 sm-max:pb-5">
      <div class="basis-8/12">
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold uppercase xl-max:text-2xl">{{ page.title }}</h1>
        <p class="mb-6 last:mb-0 text-xl xl-max:text-lg">{{ page.lead }}</p>
      </div>
      <div class="basis-4/12">
        {% image page.image width-300 class="w-full object-cover" %}
      </div>
    </div>
  </div>

  <div class="max-w-[1280px] mx-auto px-14 py-16 border-b border-dark sm-max:px-6 sm-max:py-8">
      <h2 class="text-2xl font-semibold mb-8 xl-max:text-lg sm-max:mb-4">{% translate "Preberi pretekle občasnike!" %}</h2>
      <div class="grid grid-cols-3 gap-4 sm-max:grid-cols-1">
          {% for newsletter in newsletters|slice:":3" %}
          <div class="border border-dark">
              <a href="{% pageurl newsletter %}" target="_blank">
                {% image newsletter.thumbnail width-300 class="w-full h-[180px] object-cover" %}
              </a>
              <div class="border-t border-dark p-5">
                <span class="text-dark text-sm font-mono rounded-full border border-dark px-3 py-1 inline-block mr-1 mb-3">{% translate "Občasnik" %}</span>
                <a href="{% pageurl newsletter %}" target="_blank" class="block text-2xl/none font-semibold mb-3 bg-left-bottom bg-[length:0%_0.5em] bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary group-hover:bg-[length:100%_0.5em] transition-all duration-500 ease-out">{{ newsletter.title }}</a>
                <p class="font-mono">{{ newsletter.published_at|date:"F Y" }}</p>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>

  {% include 'home/blocks/newsletter_block.html' with id=0 color_scheme='red' %}

  {% if newsletters|length > 3 %}
  <div class="max-w-[1280px] mx-auto px-14 py-16">
    <div class="grid grid-cols-3 gap-4">
        {% for newsletter in newsletters|slice:"3:" %}
        <div class="border border-dark">
            <a href="{% pageurl newsletter %}" target="_blank">
              {% image newsletter.thumbnail width-300 class="w-full h-[180px] object-cover" %}
            </a>
            <div class="border-t border-dark p-5">
              <span class="text-dark text-sm font-mono rounded-full border border-dark px-3 py-1 inline-block mr-1 mb-3">{% translate "Občasnik" %}</span>
              <a href="{% pageurl newsletter %}" target="_blank" class="block text-2xl font-semibold mb-3 bg-left-bottom bg-[length:0%_0.5em] bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary group-hover:bg-[length:100%_0.5em] transition-all duration-500 ease-out">{{ newsletter.title }}</a>
              <p class="font-mono">{{ newsletter.published_at|date:"F Y" }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}
