{% extends "wrapper.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-newsletterlistpage theme-color-{{ page.color }}{% endblock %}

{% block content %}

<div>
  <div class="border-b border-dark bg-th-primary-light">
    <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pt-20 pb-10 sm-max:block sm-max:px-6 sm-max:pt-10 sm-max:pb-5">
      <div class="basis-8/12">
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold uppercase xl-max:text-2xl">{{ page.title }}</h1>
        <p class="mb-6 last:mb-0 text-xl xl-max:text-lg/[1.15]">{{ page.lead }}</p>
      </div>
      <div class="basis-4/12">
        {% image page.image width-300 class="w-full object-cover" %}
      </div>
    </div>
  </div>

  <div class="border-b border-dark">
    <div class="max-w-[1280px] mx-auto px-14 py-16 sm-max:px-6 sm-max:py-8">
        <h2 class="text-2xl font-semibold mb-8 xl-max:text-lg sm-max:mb-4">{% translate "Preberi pretekle občasnike!" %}</h2>
        <div class="grid grid-cols-3 gap-4 lg-max:grid-cols-2 sm-max:grid-cols-1">
          {% include "home/newsletters.html" with newsletters=newsletters|slice:":3" without_loader=True %}
        </div>
    </div>
  </div>

  <div class="border-b border-dark last:border-b-0">
    {% include 'home/blocks/newsletter_block.html' with id=0 color_scheme='red' %}
  </div>

  {% if newsletters|length > 3 %}
  <div class="border-b border-dark last:border-b-0">
    <div class="max-w-[1280px] mx-auto px-14 py-16 sm-max:px-6 sm-max:py-8">
      <div class="grid grid-cols-3 gap-4 lg-max:grid-cols-2 sm-max:grid-cols-1">
        {% include "home/newsletters.html" with newsletters=newsletters|slice:"3:" %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}
