{% extends "wrapper.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-newsletterpage theme-color-{{ page.color }}{% endblock %}

{% block content %}

<div>
  <div class="border-b border-dark bg-th-primary-light">
    <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pt-20 pb-10">
      <div class="basis-8/12">
        <span class="bg-th-primary-light text-sm rounded-full px-3 py-1 mb-4 inline-block font-mono border border-dark">{% translate "Občasnik" %}</span>
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold">{{ page.title }}</h1>
        <div class="rich-text">
          {{ page.introduction|richtext }}
        </div>
      </div>
      <div class="basis-4/12"></div>
    </div>
  </div>

  {% include 'home/blocks/newsletter_block.html' with id=0 color_scheme='red' %}

  <div class="border-b border-dark">
    <div class="max-w-screen-xl mx-auto px-14 py-16">
      <h2 class="text-2xl font-semibold">{% translate "Danes je nov dan novice" %}</h2>
      <p class="text-md mb-8">{% translate "Preveri, kaj smo počeli pretekli mesec" %}</p>
      {% for article in page.news %}
      <a href="{{ article.value.link }}" target="_blank" class="block w-full group mb-6">
        <div class="border border-dark flex gap-10 p-4 group-hover:bg-th-primary-light">
          <div class="basis-8/12">
            <h5 class="text-lg font-semibold mb-2">
              <span class="bg-left-bottom bg-[length:0%_0.5em] bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary group-hover:bg-[length:100%_0.5em] transition-all duration-500 ease-out">
                {{ article.value.name }}
              </span>
            </h5>
            <p class="text-sm">
              {{ article.value.description }}
            </p>
          </div>
          <div class="basis-4/12">
            {% image article.value.image width-300 class="w-full h-[180px] object-cover border border-dark" %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="max-w-screen-xl mx-auto px-14 py-10">
    <h2 class="text-2xl font-semibold">{% translate "Izpostavljeno" %}</h2>
    <p class="text-md mb-8">{% translate "Priporočamo, svetujemo, vabimo, opozarjamo in še kaj drugega" %}</p>
    <div class="grid grid-cols-3 gap-4">
        {% for article in page.promoted %}
        <div class="border border-dark">
            <a href="{{ article.value.link }}" target="_blank">
              {% image article.value.image width-300 class="w-full h-[180px] object-cover" %}
            </a>
            <div class="border-t border-dark p-5 pb-2">
              <a href="{{ article.value.link }}" target="_blank" class="block text-lg font-semibold mb-2 bg-left-bottom bg-[length:0%_0.5em] bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary group-hover:bg-[length:100%_0.5em] transition-all duration-500 ease-out">{{ article.value.name }}</a>
              <p class="text-sm mb-6">{{ article.value.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pb-10 justify-center">
    <a href="/">{% translate "Prejšnji občasniki" %}</a>
  </div>
</div>

{% endblock content %}
