{% extends "wrapper.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="px-14 py-16">
  <h1 class="mb-6 text-4xl font-semibold">{% translate "Naše delo" %}</h1>
  
  <form action="{% url 'our-work' %}" method="post" class="mb-8">
    {% csrf_token %}

    <div class="mb-4">
      <p class="font-mono">{% translate "Filtriraj po tematskih sklopih" %}</p>
      {{ form.pillars }}
    </div>
  
    <div class="mb-4">
      <p class="font-mono">{% translate "Filtriraj po kategorijah" %}</p>
      {{ form.categories }}
    </div>
  
    <div class="mb-4">
      <p class="font-mono">{% translate "Filtriraj po projektih" %}</p>
      {{ form.projects }}
    </div>

    <button type="submit">Filter</button>
  </form>

  <div class="grid grid-cols-3 gap-4">
    {% for activity in activities %}
    <div class="border border-dark">
      <a href="{{ activity.link }}" target="_blank">
        {% image activity.image width-300 class="w-full h-[180px] object-cover" %}
      </a>
      <div class="border-t border-dark p-5">
        <div>
          {% for tag in activity.category.all %}
          <span class="text-dark text-sm font-mono rounded-full border border-dark px-3 py-1 inline-block mr-1">{{ tag.name }}</span>
          {% endfor %}
        </div>
        <a href="{{ activity.link }}" target="_blank"
          class="block text-4xl font-semibold mt-6 mb-4 bg-left-bottom bg-[length:0%_0.5em] bg-no-repeat bg-gradient-to-r from-lavender to-lavender group-hover:bg-[length:100%_0.5em] transition-all duration-500 ease-out">{{ activity.title }}</a>
        <p class="text-xl mb-6">{{ activity.description }}</p>
        {% if activity.date %}
        <p class="font-mono">{{ activity.date }}</p>
        {% endif %}
      </div>
    </div>
    {% if forloop.counter == 3 %}
    <div class="border border-dark px-5 py-10 bg-gradient-to-tl from-white to-mint">
      <img src="{% static 'img/newsletter.png' %}" alt="" class="w-[100px]">
      <h2 class="text-4xl font-semibold mb-4 mt-4">{% translate "Prijavi se na naš" %} <span class="italic">{% translate "Občasnik" %}!</span></h2>
      <p class="text-xl font-semibold">{% translate "Vsak mesec ti bomo dostavili svežo bero informativnih vsebin in zanimivih zapisov o temah, ki nas žulijo, razveseljujejo ali navdihujejo, pisali pa ti bomo tudi, ko naredimo kaj dobrega ali ko se bo dogajalo kaj zanimivega." %}</p>
      {% include 'home/partials/newsletter_form.html' %}
    </div>
    {% endif %}
    {% if forloop.counter == 7 %}
    <div class="border border-dark px-5 py-10 bg-red-light flex flex-col justify-center">
      <h2 class="text-4xl font-semibold mb-6 mt-4">{% translate "Za nadaljnje neodvisno delovanje potrebujemo tudi" %} <span
          class="italic">{% translate "tvojo podporo" %}!</span></h2>
      <a href="{% url 'support' %}" class="flex justify-between w-full px-3 pt-2.5 pb-3 border-2 border-dark bg-red font-semibold text-2xl">
        <span>{% translate 'Podpri nas!' %}</span><img class="w-4 -mb-0.5" src="{% static 'img/noun-arrow-right-1434311.svg' %}" alt="">
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock content %}