{% extends "wrapper.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}
{% wagtail_site as current_site %}

{% block body_class %}template-ourworkpage theme-color-{{ page.color }}{% endblock %}

{% block content %}

<div class="max-w-screen-xl mx-auto px-14 py-16">
  <h1 class="mb-6 text-4xl font-semibold">{{ page.title }}</h1>

  <form id="our-work-form" action="{{ current_site }}" method="get" class="mb-8">

    <div class="mb-4">
      <p class="font-mono">{% translate "Filtriraj po tematskih sklopih" %}</p>
      <div id="id_pillars" class="flex gap-2 mb-6">
        {% for pillar in pillars %}
        <div>
          <input type="checkbox" name="pillars" value="{{ pillar.id }}" class="peer hidden" id="id_pillars_{{ forloop.counter0 }}" onchange="filterOurWork()" {% if pillar.id|slugify in form.pillars.value %}checked{% endif %}>
          <label for="id_pillars_{{ forloop.counter0 }}" class="inline-flex items-center px-2.5 py-1 border border-dark rounded-full text-sm leading-none cursor-pointer peer-checked:bg-th-primary">
            {% if pillar.localized.icon %}
            {% image pillar.localized.icon height-32 class="h-[14px] w-auto me-2" %}
            {% endif %}
            {{ pillar.localized.title }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="mb-4">
      <p class="font-mono">{% translate "Filtriraj po kategorijah" %}</p>
      <div id="id_categories" class="flex gap-2 mb-6">
        {% for category in categories %}
        <div>
          <input type="checkbox" name="categories" value="{{ category.id }}" class="peer hidden" id="id_categories_{{ forloop.counter0 }}" onchange="filterOurWork()" {% if category.id|slugify in form.categories.value %}checked{% endif %}>
          <label for="id_categories_{{ forloop.counter0 }}" class="inline-flex items-center px-2.5 py-1 border border-dark rounded-full text-sm leading-none cursor-pointer peer-checked:bg-th-primary">
            {% if category.localized.icon %}
            {% image category.localized.icon height-32 class="h-[14px] w-auto me-2" %}
            {% endif %}
            {{ category.localized.name }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="mb-4">
      <p class="font-mono">{% translate "Filtriraj po projektih" %}</p>
      <div id="id_projects" class="flex gap-2 mb-6">
        <div>
          <input type="checkbox" name="promoted" id="id_promoted" class="peer hidden" onchange="filterOurWork()" {% if form.promoted.value %}checked{% endif %}>
          <label for="id_promoted" class="inline-flex items-center px-2.5 py-1 border border-dark rounded-full text-sm leading-none cursor-pointer peer-checked:bg-th-primary">
            <img class="h-[14px] w-auto me-2" height="32px" src="{% static 'img/filter-izpostavljeno.png' %}" alt="">
            {% translate "Izpostavljeno" %}
          </label>
        </div>
        {% for project in projects %}
        <div>
          <input type="checkbox" name="projects" value="{{ project.id }}" class="peer hidden" id="id_projects_{{ forloop.counter0 }}" onchange="filterOurWork()" {% if project.id|slugify in form.projects.value %}checked{% endif %}>
          <label for="id_projects_{{ forloop.counter0 }}" class="inline-flex items-center px-2.5 py-1 border border-dark rounded-full text-sm leading-none cursor-pointer peer-checked:bg-th-primary">
            {% if project.localized.icon %}
            {% image project.localized.icon height-32 class="h-[14px] w-auto me-2" %}
            {% endif %}
            {{ project.localized.name }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

  </form>

  <div class="grid grid-cols-3 gap-4">
    {% for activity in activities %}

      {% include 'home/partials/activity.html' with activity=activity %}
      
      {% if forloop.counter == 3 %}
        {% include 'home/partials/newsletter_card.html' with id=forloop.counter %}
      {% endif %}

      {% if forloop.counter == 7 %}
        {% include 'home/partials/support_card.html' %}
      {% endif %}

      {% if forloop.last and activities.has_next %}
        {% include 'home/partials/loader.html' with activity=activity next_page_num=activities.next_page_number %}
      {% endif %}

    {% endfor %}
  </div>
</div>

{% endblock content %}
