{% extends "wrapper.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags djnd_extras %}

{% block body_class %}template-ourworkpage theme-color-{{ page.color }}{% endblock %}

{% block content %}

<div class="max-w-[1280px] mx-auto px-14 py-16 sm-max:px-6 sm-max:py-8">
  <h1 class="mb-6 text-4xl font-semibold xl-max:text-2xl">{{ page.title }}</h1>

  <form id="our-work-form" action="{% pageurl page.localized %}" method="get" class="mb-8">

    <div class="mb-2">
      <p class="font-mono">{% translate "Filtriraj po tematskih sklopih" %}</p>
      <div id="id_pillars" class="mb-2 -mx-6 -mt-2">
        <div class="py-3 overflow-x-auto thin-scroll">
          <div class="flex gap-2 px-6 w-max">
            {% for pillar in pillars %}
            {% include "home/partials/activity_filter.html" with filter=pillar filter_name="pillars" filter_values=form.pillars.value %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <p class="font-mono">{% translate "Filtriraj po kategorijah" %}</p>
      <div id="id_categories" class="mb-2 -mx-6 -mt-2">
        <div class="py-3 overflow-x-auto thin-scroll">
          <div class="flex gap-2 px-6 w-max">
            {% for category in categories %}
            {% include "home/partials/activity_filter.html" with filter=category filter_name="categories" filter_values=form.categories.value %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <p class="font-mono">{% translate "Filtriraj po projektih" %}</p>
      <div id="id_projects" class="mb-2 -mx-6 -mt-2">
        <div class="py-3 overflow-x-auto thin-scroll">
          <div class="flex gap-2 px-6 w-max">
            {% translate "Izpostavljeno" as filter_title %}
            {% include "home/partials/activity_filter.html" with filter_title=filter_title filter_name="promoted" filter_value=form.promoted.value filter_image='img/filter-izpostavljeno.png' %}
            {% for project in projects %}
            {% include "home/partials/activity_filter.html" with filter=project filter_name="projects" filter_values=form.projects.value %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </form>

  <div class="grid grid-cols-3 gap-4 sm-max:grid-cols-1">
    {% for activity in activities %}

      {% include 'home/partials/activity.html' with activity=activity %}

      {% if forloop.counter == 3 %}
        {% include 'home/partials/newsletter_card.html' with id=forloop.counter %}
      {% endif %}

      {% if forloop.counter == 7 %}
        {% include 'home/partials/support_card.html' %}
      {% endif %}

      {% if forloop.last and page_obj.has_next %}
        {% include 'home/partials/loader.html' with next_page_offset=page_obj.next_page_offset view='activities' %}
      {% endif %}

    {% endfor %}
  </div>
</div>

{% endblock content %}
