{% extends "wrapper.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-pillarpage theme-color-{{ page.color }}{% endblock %}

{% block content %}
<div>
  <div class="border-b border-dark last:border-b-0 bg-th-primary-light">
    <div class="flex gap-10 max-w-[1280px] mx-auto px-14 pt-20 mb-16 sm-max:flex-col-reverse sm-max:px-6 sm-max:pt-10 sm-max:mb-8">
      <div class="basis-8/12">
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold xl-max:text-2xl">{{ page.title }}</h1>
        {% if page.lead %}
        <p class="mb-6 last:mb-0 text-xl xl-max:text-lg/[1.15]">{{ page.lead }}</p>
        {% endif %}
        {% if page.description %}
        <div class="mb-6 rich-text">
          {{ page.description|richtext }}
        </div>
        {% endif %}
      </div>
      <div class="basis-4/12">
        {% if page.image %}
        {% image page.image width-752 class="w-full" %}
        {% endif %}
      </div>
    </div>
    {% if page.projects %}
    <div class="max-w-[1280px] mx-auto px-14 pb-20 sm-max:px-6 sm-max:pb-10">
      {% include "home/partials/pillar_grid.html" with open_new_tab=True grid_items=page.projects %}
    </div>
    {% endif %}
  </div>

  {% for block in page.modules %}
  <div class="border-b border-dark last:border-b-0">
    {% include_block block %}
  </div>
  {% endfor %}

  <div class="max-w-[1280px] mx-auto mt-16 px-14 pb-20 sm-max:px-6 sm-max:pb-10 sm-max:mt-8">
    <div class="flex justify-between mb-6">
      <h2 class="mb-2 text-2xl font-semibold">{{ page.activities_title }}</h2>
      {% if settings.home.GeneralSettings.our_work_page %}
      <a href="{% pageurl settings.home.GeneralSettings.our_work_page %}" class="self-center ml-1 hover:font-semibold group">
        <span class="inline-block min-w-[104px] text-center underline">{% translate "Vse aktivnosti" %}</span><img class="inline-block w-3 ml-2 -mt-1 group-hover:animate-arrow-hover" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
      </a>
      {% endif %}
    </div>
    <div class="grid grid-cols-3 gap-4 lg-max:grid-cols-2 sm-max:grid-cols-1">
      {% include 'home/activities.html' with activities=activities %}
    </div>
  </div>
</div>
{% endblock content %}
