{% extends "wrapper.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-pillarpage theme-color-{{ page.color }}{% endblock %}

{% block content %}
<div>
  <div class="border-b border-dark last:border-b-0 bg-th-primary-light">
    <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pt-20 mb-16">
      <div class="basis-8/12">
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold">{{ page.title }}</h1>
        {% if page.lead %}
        <p class="mb-6 last:mb-0 text-xl">{{ page.lead }}</p>
        {% endif %}
        {% if page.description %}
        <p class="mb-6 last:mb-0">{{ page.description|richtext }}</p>
        {% endif %}
      </div>
      <div class="basis-4/12">
        {% if page.image %}
        {% image page.image width-752 class="w-full" %}
        {% endif %}
      </div>
    </div>
    {% if page.projects %}
    <div class="max-w-screen-xl mx-auto px-14 pb-20">
      {% include "home/partials/pillar_grid.html" with grid_items=page.projects %}
    </div>
    {% endif %}
  </div>

  {% for block in page.modules %}
  <div class="border-b border-dark last:border-b-0">
    {% include_block block %}
  </div>
  {% endfor %}

  <div class="max-w-screen-xl mx-auto mt-16 px-14 pb-20">
    <div class="flex justify-between mb-6">
      <h2 class="mb-2 text-2xl font-semibold">{{ page.activities_title }}</h2>
      <a href="/nase-delo" class="hover:underline self-center">
        <span>Vse aktivnosti</span><img class="inline-block w-3 ml-1 -mt-1" src="{% static "img/noun-arrow-right-1434311.svg" %}" alt="">
      </a>
    </div>
    <div class="grid grid-cols-3 gap-4">
      {% for activity in activities %}
      {% include 'home/partials/activity.html' with activity=activity %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
