{% extends "wrapper.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n djnd_extras %}

{% block body_class %}template-teampage theme-color-{{ page.color }}{% endblock %}

{% block content %}
<div>

  <div class="border-b border-dark last:border-b-0">
    <div class="flex gap-10 max-w-[1280px] mx-auto px-14 py-20 sm-max:px-6 sm-max:py-10">
      <div class="basis-full">
        <h1 class="mb-12 text-5xl font-semibold xl-max:text-2xl sm-max:mb-6">{{ page.title }}</h1>
        <form onsubmit="return false;" class="flex flex-wrap gap-2 mb-6" x-data="categoriesFilter">
          {% for category in team_member_categories %}
            <div>
              <input type="radio" name="team_member_categories" id="team_member_category_{{ category.id }}" value="{{ category.id }}" {% if forloop.first %}checked{% endif %} class="peer hidden" @change="select($event.target.value)">
              <label for="team_member_category_{{ category.id }}" class="block px-2.5 pt-1 pb-1.5 border border-dark rounded-full text-sm/none cursor-pointer peer-checked:bg-th-primary">{{ category.name }}</label>
            </div>
          {% endfor %}
        </form>
        <script>
          const selectedId = document.querySelector('input[name="team_member_categories"]:checked').value
          document.addEventListener('alpine:init', () => {
            Alpine.data('categoriesFilter', () => ({
              init() {
                this.select(this.selectedId)
              },
              selectedId,
              select(id) {
                this.selectedId = id
                document.querySelectorAll('[data-member-id]').forEach((el) => {
                  const categoryIds = JSON.parse(el.getAttribute('data-category-ids'))
                  if (categoryIds.includes(Number(id))) {
                    el.classList.remove('hidden')
                  } else {
                    el.classList.add('hidden')
                  }
                })
              }
            }))
          })
        </script>

        <div class="grid grid-cols-fill210 gap-4">
          {% for member in team_members %}
            <div class="border" data-member-id="{{ member.id }}" data-category-ids="{{ member|get_translated_m2m_ids:"category" }}">
              <div class="border-b">
                {% image member.image fill-300x300 class="w-full aspect-square" %}
              </div>
              <div class="p-4">
                <h2 class="text-3lg font-semibold xl-max:text-lg/[1.15]">{{ member.name }}</h2>
                <p class="mt-2 font-mono text-sm">{{ member.email }}</p>
                <p class="mt-4">{{ member.role }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
