@font-face {
  font-family: "Okolaks WebFont";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("okolaksregular-webfont.woff2") format("woff2"),
    url("okolaksregular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Okolaks WebFont";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("okolaksregularitalic-webfont.woff2") format("woff2"),
    url("okolaksregularitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Okolaks WebFont";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("okolaksbold-webfont.woff2") format("woff2"),
    url("okolaksbold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Okolaks WebFont";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("okolaksbolditalic-webfont.woff2") format("woff2"),
    url("okolaksbolditalic-webfont.woff") format("woff");
}
