// GENERAL
@function icon-arrow($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/arrow.svg'), '#000', '#{$color}'));
}
@function icon-heart($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/heart.svg'), '#000', '#{$color}'));
}
@function icon-friendship($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/friendship.svg'), '#000', '#{$color}'));
}
@function icon-trash($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/trash.svg'), '#000', '#{$color}'));
}
@function icon-confetti-popper($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/confetti-popper.svg'), '#000', '#{$color}'));
}
@function icon-rocket($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/rocket.svg'), '#000', '#{$color}'));
}
@function icon-papers($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/papers.svg'), '#000', '#{$color}'));
}
@function icon-language($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/language.svg'), '#000', '#{$color}'));
}
@function icon-dropdown-arrow($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/dropdown-arrow.svg'), '#000', '#{$color}'));
}

// SECTIONS
@function icon-section-agrument($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/sections/agrument.svg'), '#000', '#{$color}'));
}
@function icon-section-clipping($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/sections/clipping.svg'), '#000', '#{$color}'));
}
@function icon-section-projects($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/sections/projects.svg'), '#000', '#{$color}'));
}
@function icon-section-videos($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/sections/videos.svg'), '#000', '#{$color}'));
}
@function icon-section-tools($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/sections/tools.svg'), '#000', '#{$color}'));
}
@function icon-section-coding($color) {
  @return encode-svg(fs-readFile('static/icons/sections/coding.svg'));
}

// SOCIAL
@function icon-facebook($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/social/facebook.svg'), '#000', '#{$color}'));
}
@function icon-twitter($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/social/twitter.svg'), '#000', '#{$color}'));
}
@function icon-youtube($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/social/youtube.svg'), '#000', '#{$color}'));
}
@function icon-vimeo($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/social/vimeo.svg'), '#000', '#{$color}'));
}
@function icon-github($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/social/github.svg'), '#000', '#{$color}'));
}
@function square-icon-facebook($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/facebook.svg'), '#ffffff', '#{$color}'));
}
@function square-icon-twitter($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/twitter.svg'), '#ffffff', '#{$color}'));
}
@function square-icon-email($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/email.svg'), '#ffffff', '#{$color}'));
}

// VALUES
@function icon-value-solidarity($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/values/solidarity.svg'), '#000', '#{$color}'));
}
@function icon-value-commons($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/values/commons.svg'), '#000', '#{$color}'));
}
@function icon-value-political($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/values/political.svg'), '#000', '#{$color}'));
}
@function icon-value-nature($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/values/nature.svg'), '#000', '#{$color}'));
}
@function icon-value-economy($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/values/economy.svg'), '#000', '#{$color}'));
}
@function icon-value-inclusion($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/values/inclusion.svg'), '#000', '#{$color}'));
}

// CLIP TYPES
@function icon-clip-audio($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/clips/audio.svg'), '#000', '#{$color}'));
}
@function icon-clip-video($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/clips/video.svg'), '#000', '#{$color}'));
}
@function icon-clip-text($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/clips/text.svg'), '#000', '#{$color}'));
}

// EMAIL SUB SETTINGS
@function icon-sub-agrument($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/subscriptions/agrument.svg'), '#000', '#{$color}'));
}
@function icon-sub-djnd($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/subscriptions/djnd.svg'), '#000', '#{$color}'));
}
@function icon-sub-parlameter($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/subscriptions/parlameter.svg'), '#000', '#{$color}'));
}
@function icon-sub-konsenz($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/subscriptions/konsenz.svg'), '#000', '#{$color}'));
}
@function icon-sub-supporter($color) {
  @return encode-svg(string-replace(fs-readFile('static/icons/subscriptions/supporter.svg'), '#000', '#{$color}'));
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  // size seems to be int rounded so "cover" and "100%" can sometimes cutoff a pixel
  // used only for svg icons, so just absolute and svg will take care of ratio
  background-size: 99% 99%;
}

@each $color-name, $color in $theme-colors {
  // GENERAL
  .icon-arrow--#{$color-name} {
    background-image: url(#{icon-arrow($color)}) !important;
  }
  .icon-heart--#{$color-name} {
    background-image: url(#{icon-heart($color)}) !important;
  }
  .icon-friendship--#{$color-name} {
    background-image: url(#{icon-friendship($color)}) !important;
  }
  .icon-trash--#{$color-name} {
    background-image: url(#{icon-trash($color)}) !important;
  }
  .icon-confetti-popper--#{$color-name} {
    background-image: url(#{icon-confetti-popper($color)}) !important;
  }
  .icon-rocket--#{$color-name} {
    background-image: url(#{icon-rocket($color)}) !important;
  }
  .icon-papers--#{$color-name} {
    background-image: url(#{icon-papers($color)}) !important;
  }
  .icon-language--#{$color-name} {
    background-image: url(#{icon-language($color)}) !important;
  }
  .icon-dropdown-arrow--#{$color-name} {
    background-image: url(#{icon-dropdown-arrow($color)}) !important;
  }
  // SECTIONS
  .icon-section-agrument--#{$color-name} {
    background-image: url(#{icon-section-agrument($color)}) !important;
  }
  .icon-section-clipping--#{$color-name} {
    background-image: url(#{icon-section-clipping($color)}) !important;
  }
  .icon-section-projects--#{$color-name} {
    background-image: url(#{icon-section-projects($color)}) !important;
  }
  .icon-section-videos--#{$color-name} {
    background-image: url(#{icon-section-videos($color)}) !important;
  }
  .icon-section-tools--#{$color-name} {
    background-image: url(#{icon-section-tools($color)}) !important;
  }
  .icon-section-coding--#{$color-name} {
    background-image: url('/icons/sections/coding.svg') !important;
  }
  // SOCIAL
  .icon-facebook--#{$color-name} {
    background-image: url(#{icon-facebook($color)}) !important;
  }
  .icon-twitter--#{$color-name} {
    background-image: url(#{icon-twitter($color)}) !important;
  }
  .icon-youtube--#{$color-name} {
    background-image: url(#{icon-youtube($color)}) !important;
  }
  .icon-vimeo--#{$color-name} {
    background-image: url(#{icon-vimeo($color)}) !important;
  }
  .icon-github--#{$color-name} {
    background-image: url(#{icon-github($color)}) !important;
  }
  // SQUARE SOCIAL
  .square-icon-facebook--#{$color-name} {
    background-image: url(#{square-icon-facebook($color)}) !important;
    filter: invert(100%); // TODO this is a hack
  }
  .square-icon-twitter--#{$color-name} {
    background-image: url(#{square-icon-twitter($color)}) !important;
    filter: invert(100%); // TODO this is a hack
  }
  .square-icon-email--#{$color-name} {
    background-image: url(#{square-icon-email($color)}) !important;
  }
  // VALUES
  .icon-value-solidarity--#{$color-name} {
    background-image: url(#{icon-value-solidarity($color)}) !important;
  }
  .icon-value-commons--#{$color-name} {
    background-image: url(#{icon-value-commons($color)}) !important;
  }
  .icon-value-political--#{$color-name} {
    background-image: url(#{icon-value-political($color)}) !important;
  }
  .icon-value-nature--#{$color-name} {
    background-image: url(#{icon-value-nature($color)}) !important;
  }
  .icon-value-economy--#{$color-name} {
    background-image: url(#{icon-value-economy($color)}) !important;
  }
  .icon-value-inclusion--#{$color-name} {
    background-image: url(#{icon-value-inclusion($color)}) !important;
  }
}

// CLIP TYPES
.icon-clip-audio {
  background-image: url(#{icon-clip-audio($body-color)}) !important;
}
.icon-clip-video {
  background-image: url(#{icon-clip-video($body-color)}) !important;
}
.icon-clip-text {
  background-image: url(#{icon-clip-text($body-color)}) !important;
}

// EMAIL SUB SETTINGS
.icon-sub-agrument {
  background-image: url(#{icon-sub-agrument($color-green)}) !important;
}
.icon-sub-general {
  background-image: url(#{icon-sub-djnd($color-red)}) !important;
}
.icon-sub-parlameter {
  background-image: url(#{icon-sub-parlameter($color-parlameter)}) !important;
}
.icon-sub-konsenz {
  background-image: url(#{icon-sub-konsenz($color-green)}) !important;
}
.icon-sub-supporter {
  background-image: url(#{icon-sub-supporter($color-red)}) !important;
}
