@function icon-arrow($color) {
  @return encode-svg(str-replace(fs-readFile('static/icons/arrow.svg'), '#000', '#{$color}'));
}

@function icon-keyboard($color) {
  @return encode-svg(str-replace(fs-readFile('static/icons/keyboard.svg'), '#000', '#{$color}'));
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@each $color-name, $color in $theme-colors {
  .icon-arrow--#{$color-name} {
    background-image: url(#{icon-arrow($color)});
  }

  .icon-keyboard--#{$color-name} {
    background-image: url(#{icon-keyboard($color)});
  }
}
