// COLORS
$color-green: #6ba8a0;
$color-red: #dd786b;

// MISC
$side-menu-width: 250px;

// -----------------------------------------------------------------------------

// ---
// Change boostrap defaults
// ---

$primary: $color-green;
$secondary: $color-red;

$font-family-sans-serif: 'acumin-pro', sans-serif;

// ---
// Import bootstrap functions and variables
// ---
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
// so that you can @import this file and use bootstrap breakpoint mixins
@import 'bootstrap/scss/mixins/_breakpoints.scss';
