// -----------------------------------------------------------------------------
// --- THIS FILE IS AUTO IMPORTED BEFORE EVERY VUE COMPONENT AND SCSS FILE
// --- DO NOT PUT ANY STYLE SELECTORS IN THIS FILE!!
// --- ONLY VARIABLES/FUNCTIONS/MIXINS
// -----------------------------------------------------------------------------

// ---
// Our variables
// ---

$color-green: #6ba8a0;
$color-red: #dd786b;
$color-yellow: #cdac54;

$side-menu-width: 250px;
$content-mobile-padding: 1.2rem;

// -----------------------------------------------------------------------------

// ---
// Change boostrap defaults here
// ---

$primary: $color-green;
$secondary: $color-red;
$warning: $color-yellow;

$font-family-sans-serif: 'acumin-pro', sans-serif;

$enable-rounded: false;

$embed-responsive-aspect-ratios: (
  (1200 630),
);

// ---
// Import bootstrap functions and variables so that you can @import this file
// and use bootstrap breakpoint mixins
// ---
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';
