@import 'variables';
@import 'icons';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  background-color: #f0efef;
}

:focus,
button:focus {
  outline: 5px auto $color-green;
}

.form-control {
  border-radius: 0;
  background: transparent;
  border: 1px solid #333;
  font-style: italic;

  &::placeholder {
    font-style: italic;
  }

  &:focus {
    border: 1px solid $color-green;
  }
}

.mobile-no-gap {
  @include media-breakpoint-down(sm) {
    margin-left: -$content-mobile-padding;
    margin-right: -$content-mobile-padding;

    > .col,
    > [class^='col-'],
    > [class*=' col-'] {
      padding: 0;
    }
  }
}
