@import 'variables';
@import 'icons';
@import 'bootstrap/scss/bootstrap.scss';

body {
  background-color: #f0efef;
}

:focus,
button:focus {
  outline: 5px auto $color-green;
}

.form-control {
  border-radius: 0;
  background: transparent;
  border: 1px solid #333;
  font-style: italic;

  &::placeholder {
    font-style: italic;
    color: #444;
    text-decoration: underline;
  }

  &:focus {
    border: 1px solid $color-green;
  }
}

@each $color-name, $color in $theme-colors {
  .page--#{$color-name} {
    .form-control,
    button {
      &:focus {
        border: 1px solid $color;
        box-shadow: 0 0 0 0.2rem rgba($color, 0.25);
      }
    }

    button {
      &:focus {
        outline: 5px auto $color;
      }
    }
  }
}

.mobile-no-gap {
  @include media-breakpoint-down(sm) {
    margin-left: -$content-mobile-padding;
    margin-right: -$content-mobile-padding;

    > .col,
    > [class^='col-'],
    > [class*=' col-'] {
      padding: 0;
    }
  }
}
