@import 'variables';
@import 'icons';
@import 'bootstrap/scss/bootstrap.scss';

body {
  background-color: #f0efef;
}

:focus,
button:focus {
  outline: 5px auto $color-green;
}

.form-control {
  border-radius: 0;
  background: transparent;
  border: 1px solid #333;
  font-style: italic;

  &::placeholder {
    font-style: italic;
    font-weight: 300;
    color: #444;
    text-decoration: underline;
  }

  &.form-control-lg {
    &::placeholder {
      font-size: 1.2rem;
    }
  }

  &:focus {
    border: 1px solid $color-green;
  }
}

.custom-control {
  padding-left: 3rem;
  margin-bottom: 2rem;

  .custom-control-label {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 2rem;
  }

  .custom-control-label::before {
    border-color: #333;
  }

  &.custom-checkbox,
  &.custom-radio {
    .custom-control-label::before,
    .custom-control-label::after {
      width: 2rem;
      height: 2rem;
      top: 0;
      left: -3rem;
    }
  }

  &.custom-switch {
    padding-left: 4.5rem;

    .custom-control-label::before,
    .custom-control-label::after {
      border-radius: 10rem;
      width: 3.5rem;
      height: 2rem;
      top: 0;
      left: -4.5rem;
    }

    .custom-control-label::before {
      background-color: rgba(#333, 0.4);
      border-color: rgba(#333, 0.4);
      // SKINNY TRACK
      height: 1.25rem;
      top: 0.375rem;
      border: 0;
      //
    }

    .custom-control-label::after {
      width: calc(2rem - 4px);
      height: calc(2rem - 4px);
      top: 2px;
      left: calc(-4.5rem + 2px);
      background-color: #333;
      // SKINNY TRACK
      left: -4.5rem;
      //
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      transform: translate(1.5rem);
      // SKINNY TRACK
      transform: translate(1.75rem);
      //
    }
  }
}

@each $color-name, $color in $theme-colors {
  .page--#{$color-name} {
    .form-control,
    button {
      &:focus {
        border: 1px solid $color;
        box-shadow: 0 0 0 0.2rem rgba($color, 0.25);
      }
    }

    button {
      &:focus {
        outline: 5px auto $color;
      }
    }

    .custom-control {
      &.custom-checkbox,
      &.custom-radio {
        .custom-control-input:checked ~ .custom-control-label::before {
          border-color: $color;
          background-color: $color;
        }

        .custom-control-input:focus ~ .custom-control-label::before {
          border-color: $color;
          box-shadow: 0 0 0 0.2rem rgba($color, 0.25);
        }
      }

      &.custom-switch {
        .custom-control-input:checked ~ .custom-control-label::after {
          background-color: $color;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
          border-color: $color;
          background-color: rgba($color, 0.4);
        }

        .custom-control-input ~ .custom-control-label::before {
          box-shadow: none;
        }

        .custom-control-input:focus ~ .custom-control-label::after {
          box-shadow: 0 0 0 0.2rem rgba($color, 0.25);
        }
      }
    }

  }
}

.mobile-no-gap {
  @include media-breakpoint-down(sm) {
    margin-left: -$content-mobile-padding;
    margin-right: -$content-mobile-padding;

    > .col,
    > [class^='col-'],
    > [class*=' col-'] {
      padding: 0;
    }
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 47px;
  height: 47px;

  &::after {
    content: ' ';
    display: block;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 5px solid #333;
    border-color: #333 transparent #333 transparent;
    animation: lds-dual-ring 1.75s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
