{% load wagtailcore_tags i18n static %}

<div class="bg-white">
    <div class="max-w-screen-xl px-14 py-16">
        <h2 class="mb-6 text-4xl font-semibold">{{ value.title }}</h2>
        {% if value.reports_url %}
        {% translate "Letna vsebinska in finančna poročila" as button_text %}
        {% include 'home/partials/button.html' with button_text=button_text button_color=button.color button_link=value.reports_url %}
        {% endif %}
        <div class="mt-10">
            <iframe id="odprti-racuni" frameborder="0" width="996" height="960" src="https://odprtiracuni-nvo.djnd.si/9/"></iframe>
        </div>
    </div>
</div>
