{% load i18n wagtailcore_tags static %}

<div class="theme-color-{{ value.color_scheme }} bg-gradient-to-b from-th-primary-light to-white">
    <div class="flex justify-center max-w-screen-xl mx-auto px-14 py-16 sm-max:px-6 sm-max:py-8">
        <div class="bg-white flex border border-dark basis-1/2">
            <div class="p-14 sm-max:p-6">
                <div class="flex justify-end items-start">
                    <img src="{% static 'img/newsletter.png' %}" class="w-[106px]" />
                </div>
                <h2 class="text-2xl/none font-semibold mb-6 mt-4 xl-max:text-lg/none">{% translate "Za nadaljnje neodvisno delovanje potrebujemo tudi" %} <span
                    class="italic">{% translate "tvojo podporo" %}!</span></h2>
                {% if settings.home.GeneralSettings.support_page %}
                    {% translate 'Podpri nas!' as button_text %}
                    {% include "home/partials/button.html" with button_class="w-full" button_color=value.color_scheme button_page_link=settings.home.GeneralSettings.support_page button_text=button_text %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
