{% load static wagtailcore_tags %}

<div class="bg-very-light">
  <div class="flex gap-10 max-w-[1280px] mx-auto px-14 py-16 max-sm:block max-sm:px-6 max-sm:py-8">
    <div class="w-full">
      <h2 class="mb-6 text-2xl font-semibold max-xl:text-lg">{{ value.title }}</h2>
      <table class="table-fixed bg-white">
        <tbody>
        {% for row in value.table %}
          <tr>
            <th class="w-4/12 px-7 py-6 max-sm:px-4 max-sm:py-4 border border-dark align-top text-left text-lg/tight max-xl:text-md/tight font-semibold max-sm:block max-sm:w-full max-sm:border-b-0 max-sm:-mt-px">{{ row.title }}</th>
            <td class="       px-7 py-6 max-sm:px-4 max-sm:py-4 border border-dark align-top text-left max-sm:block max-sm:w-full">{{ row.description }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% for button in value.button %}
      {% include 'home/partials/button.html' with button_text=button.button_text button_color=button.color button_page_link=button.page_link button_link=button.link %}
      {% endfor %}
    </div>
  </div>
</div>
