{% load static wagtailcore_tags %}

<div class="bg-very-light">
  <div class="flex gap-10 max-w-screen-xl mx-auto px-14 py-16">
    <div class="w-full">
      <h2 class="mb-6 text-2xl font-semibold">{{ value.title }}</h2>
      <table class="table-fixed bg-white">
        <tbody>
        {% for row in value.table %}
          <tr>
            <th class="w-4/12 px-7 py-6 border border-dark align-top text-left text-lg/none font-semibold">{{ row.title }}</th>
            <td class="       px-7 py-6 border border-dark align-top text-left">{{ row.description }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% for button in value.button %}
      {% include 'home/partials/button.html' with button_text=button.button_text button_color=button.color button_page_link=button.page_link button_link=button.link %}
      {% endfor %}
    </div>
  </div>
</div>
