@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .theme-color-white {
    --th-primary: theme("colors.light");
    --th-primary-light: theme("colors.very-light");

    &.primary-button {
      --th-primary: theme("colors.white");
      --th-primary-light: theme("colors.white");
    }
  }

  .theme-color-mint {
    --th-primary: theme("colors.mint");
    --th-primary-light: theme("colors.mint-light");
  }

  .theme-color-red {
    --th-primary: theme("colors.red");
    --th-primary-light: theme("colors.red-light");
  }

  .theme-color-green {
    --th-primary: theme("colors.green");
    --th-primary-light: theme("colors.green-light");
  }

  .theme-color-blue {
    --th-primary: theme("colors.blue");
    --th-primary-light: theme("colors.blue-light");
  }

  .theme-color-yellow {
    --th-primary: theme("colors.yellow");
    --th-primary-light: theme("colors.yellow-light");
  }

  .theme-color-lavender {
    --th-primary: theme("colors.lavender");
    --th-primary-light: theme("colors.lavender-light");
  }
}

@layer base {
  nav {
    [aria-current="page"],
    [aria-current="false"]:hover {
      @apply font-bold;

      &::before {
        @apply absolute;
        inset: -7px 0 -8px -10px;
        width: 116px;
        z-index: -1;
        content: "";
        background-color: var(--th-primary);
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMid" viewBox="0 0 119.774 40.197"><path d="M60.446.013c-7.184.075-14.357.475-21.3 1.04-10.84.884-24.716 2.105-34.407 8.907-3.084 2.165-4.781 4.978-4.738 7.912.043 2.934 1.757 5.713 4.607 7.989 11.016 8.794 26.76 11.246 39.78 12.625 20.883 2.211 44.006 3.141 64.728-2.659.363-.101 3.493-.933 6.184-2.136 1.345-.602 2.602-1.25 3.529-2.235.463-.492.891-1.137.941-1.98.05-.843-.383-1.682-.974-2.24-3.73-3.52-8.347-6.013-12.319-8.61a1.5 1.5 0 0 0-2.076.436 1.5 1.5 0 0 0 .434 2.076c4.095 2.677 8.514 5.11 11.844 8.234-.022.03.013-.022-.036.03-.354.376-1.385 1.021-2.568 1.55-2.367 1.059-5.26 1.843-5.768 1.985-20.081 5.62-42.867 4.76-63.605 2.564-12.89-1.365-28.095-3.903-38.22-11.986C4.096 21.61 3.026 19.614 3 17.829c-.026-1.784.923-3.633 3.46-5.414 8.705-6.11 22.125-7.49 32.928-8.37C53.17 2.92 67.811 2.47 81.501 3.901c10.971 1.147 21.975 3.25 32.857 5.45a1.5 1.5 0 0 0 1.768-1.173 1.5 1.5 0 0 0-1.172-1.768c-10.904-2.205-22-4.328-33.143-5.494-6.987-.73-14.18-.98-21.365-.904Z"/></svg>');
        mask-size: 100% 100%;
      }
    }
  }
}

@layer components {
  .tertiary-button {
    & > span {
      @apply relative z-0;

      &::before {
        @apply absolute;
        inset: -5px 0 -10px 0;
        z-index: -1;
        content: "";
        background-color: var(--th-primary);
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 119.774 40.197"><path d="M60.446.013c-7.184.075-14.357.475-21.3 1.04-10.84.884-24.716 2.105-34.407 8.907-3.084 2.165-4.781 4.978-4.738 7.912.043 2.934 1.757 5.713 4.607 7.989 11.016 8.794 26.76 11.246 39.78 12.625 20.883 2.211 44.006 3.141 64.728-2.659.363-.101 3.493-.933 6.184-2.136 1.345-.602 2.602-1.25 3.529-2.235.463-.492.891-1.137.941-1.98.05-.843-.383-1.682-.974-2.24-3.73-3.52-8.347-6.013-12.319-8.61a1.5 1.5 0 0 0-2.076.436 1.5 1.5 0 0 0 .434 2.076c4.095 2.677 8.514 5.11 11.844 8.234-.022.03.013-.022-.036.03-.354.376-1.385 1.021-2.568 1.55-2.367 1.059-5.26 1.843-5.768 1.985-20.081 5.62-42.867 4.76-63.605 2.564-12.89-1.365-28.095-3.903-38.22-11.986C4.096 21.61 3.026 19.614 3 17.829c-.026-1.784.923-3.633 3.46-5.414 8.705-6.11 22.125-7.49 32.928-8.37C53.17 2.92 67.811 2.47 81.501 3.901c10.971 1.147 21.975 3.25 32.857 5.45a1.5 1.5 0 0 0 1.768-1.173 1.5 1.5 0 0 0-1.172-1.768c-10.904-2.205-22-4.328-33.143-5.494-6.987-.73-14.18-.98-21.365-.904Z"/></svg>');
        mask-size: 100% 100%;
      }
    }
  }

  .rich-text {
    h2,
    h3,
    h4 {
      @apply mb-5 mt-10 font-semibold;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
    }

    h4 {
      @apply text-lg;
    }

    p,
    ul {
      @apply mb-6 text-md/[30px] xl-max:text-smd;
    }

    p:not(:first),
    ul:not(:first) {
      @apply mt-6;
    }

    ul {
      @apply list-image-arrow pl-7 marker:text-3xl/[0.6] marker:xl-max:text-xl/[0.6];
    }

    h2 + p,
    h2 + ul,
    h3 + p,
    h3 + ul,
    h4 + p,
    h4 + ul {
      @apply mt-5;
    }

    .richtext-image + p {
      @apply font-mono mt-2 text-sm;
    }
  }

  .loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 100%;
    animation: l7 1s infinite linear;
  }
  @keyframes l7 {
    33% {
      background-size: calc(100% / 3) 0%, calc(100% / 3) 100%,
        calc(100% / 3) 100%;
    }
    50% {
      background-size: calc(100% / 3) 100%, calc(100% / 3) 0%,
        calc(100% / 3) 100%;
    }
    66% {
      background-size: calc(100% / 3) 100%, calc(100% / 3) 100%,
        calc(100% / 3) 0%;
    }
  }

  .rich-text a,
  a.animated-hover-bg {
    @apply underline bg-right-bottom bg-[length:0%_100%] bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary hover:bg-left-bottom hover:bg-[length:100%_100%] transition-[background-size] duration-500 ease-out;



    /* &::before {
      content: "";
      @apply absolute inset-0 z-[-1] bg-th-primary origin-right transition-transform duration-300 scale-x-0;
    }

    &:hover::before {
      @apply origin-left scale-x-100;
    } */
  }

  .forced-animated-bg-show {
    @apply bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary;
    animation: animatedBgShow 500ms ease-out forwards;
  }
  .forced-animated-bg-hide {
    @apply bg-no-repeat bg-gradient-to-r from-th-primary to-th-primary;
    animation: animatedBgHide 500ms ease-out forwards;
  }
  @keyframes animatedBgShow {
    0% {
      background-position: left bottom;
      background-size: 0% 0.5em;
    }
    100% {
      background-position: left bottom;
      background-size: 100% 0.5em;
    }
  }
  @keyframes animatedBgHide {
    0% {
      background-position: right bottom;
      background-size: 100% 0.5em;
    }
    100% {
      background-position: right bottom;
      background-size: 0% 0.5em;
    }
  }
  .forced-box-scale {
    @apply scale-105 z-10 shadow-[0px_0px_0px_2px];
    --tw-shadow: 0px 0px 0px 2px !important;
  }
}
