@import "tailwindcss" source("../djnd");
@plugin "@tailwindcss/forms";

@import "./theme-animations.css";
@import "./theme-breakpoints.css";
@import "./theme-colors.css";
@import "./theme-fonts.css";

@import "./nav.css" layer(base);
@import "./select.css" layer(base);

@import "./components.css" layer(components);
@source inline("forced-animated-bg-show");
@source inline("forced-animated-bg-hide");
@source inline("forced-box-scale");

@utility thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--th-primary) var(--th-primary-light);
}

@utility grid-cols-fill240 {
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

@utility grid-cols-fill290 {
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
