@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .theme-color-white {
    --th-primary: theme("colors.light");
    --th-primary-light: theme("colors.very-light");
  }

  .theme-color-mint {
    --th-primary: theme("colors.mint");
    --th-primary-light: theme("colors.mint-light");
  }

  .theme-color-red {
    --th-primary: theme("colors.red");
    --th-primary-light: theme("colors.red-light");
  }

  .theme-color-green {
    --th-primary: theme("colors.green");
    /* --th-primary-light: theme("colors.green-light"); */
  }

  .theme-color-blue {
    --th-primary: theme("colors.blue");
    --th-primary-light: theme("colors.blue-light");
  }

  .theme-color-yellow {
    --th-primary: theme("colors.yellow");
    /* --th-primary-light: theme("colors.yellow-light"); */
  }

  .theme-color-lavender {
    --th-primary: theme("colors.lavender");
    --th-primary-light: theme("colors.lavender-light");
  }
}

@layer base {
  [aria-current="page"] {
    @apply relative font-bold;

    &::before {
      @apply absolute;
      inset: -6px 0 -7px -1em;
      width: 116px;
      z-index: -1;
      content: "";
      background-image: url("/static/img/current-page-circle.svg");
      background-size: 100% 100%;
    }

    &.pillar-link {
      &::before {
        background-image: url("/static/img/current-pillar-circle.svg");
      }
    }
  }
}

@layer components {
  .rich-text {
    h2,
    h3,
    h4 {
      @apply mb-5 mt-10 font-semibold;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
    }

    h4 {
      @apply text-lg;
    }

    p,
    ul {
      @apply mb-6 mt-6 text-md;
    }

    ul {
      @apply list-image-arrow pl-5 marker:text-3xl;
    }

    h2 + p,
    h2 + ul,
    h3 + p,
    h3 + ul,
    h4 + p,
    h4 + ul {
      @apply mt-5;
    }

    .richtext-image + p {
      @apply font-mono mt-2 text-sm;
    }
  }

  .loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background:
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
  }
  @keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
  }

  .rich-text a,
  a.animated-hover-bg {
    @apply relative z-0 inline-block underline;

    &::before {
      content: "";
      @apply absolute inset-0 z-[-1] bg-th-primary origin-right transition-transform duration-300 scale-x-0;
    }

    &:hover::before {
      @apply origin-left scale-x-100;
    }
  }
}
