@keyframes animatedBgShow {
  0% {
    background-position: left bottom;
    background-size: 0% 0.5em;
  }
  100% {
    background-position: left bottom;
    background-size: 100% 0.5em;
  }
}

@keyframes animatedBgHide {
  0% {
    background-position: right bottom;
    background-size: 100% 0.5em;
  }
  100% {
    background-position: right bottom;
    background-size: 0% 0.5em;
  }
}

@keyframes loader2 {
  0%,
  100% {
    transform: translate(-35px);
    box-shadow:
      0 0 #ffdb5d,
      0 0 #53caeb;
  }
  40% {
    transform: translate(35px);
    box-shadow:
      -15px 0 #ffdb5d,
      -30px 0 #53caeb;
  }
  50% {
    transform: translate(35px);
    box-shadow:
      0 0 #ffdb5d,
      0 0 #53caeb;
  }
  90% {
    transform: translate(-35px);
    box-shadow:
      15px 0 #ffdb5d,
      30px 0 #53caeb;
  }
}

@keyframes arrowHover {
  0% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(-3px);
  }
  18% {
    transform: translateX(2px);
  }
  31% {
    transform: translateX(-1px);
  }
  43% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(0);
  }
}

@keyframes arrowHoverDown {
  0% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(-3px);
  }
  18% {
    transform: translateY(2px);
  }
  31% {
    transform: translateY(-1px);
  }
  43% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(0);
  }
}

@theme {
  --animate-arrow-hover: arrowHover 1s ease-in-out;
  --animate-arrow-hover-down: arrowHoverDown 1s ease-in-out;
}
