pre {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* global styles */

body, h1, h2, h3, h4, p, span, a {
	font-family: 'Titillium Web', 'Helvetica', 'Arial', sans-serif;
}

html, body {
	background-color: #f0efef;
}

p {
	font-size: 18px;
	line-height: 26px;
}

a {
	color: #6ba8a0;
}
a:hover {
	color: #6ba8a0;
}

.bck-green {
	background: #6ba8a0 !important;
}
.bck-red {
	background: #dd786b !important;
}
.bck-gold {
	background: #ccac55 !important;
}
.col-red {
	color: #dd786b !important;
}
.col-green {
	color: #6ba8a0 !important;
}
.col-gold {
	color: #ccac55 !important;
}

/* --> pulse animation <-- */
/* position a pulse        */
/* div into an already     */
/* positioned div for      */
/* it to take effect       */
.pulse {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #6ba8a0;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 275ms;
	-o-transition-duration: 275ms;
	-webkit-transition-duration: 275ms;
	transition-duration: 275ms;
	-moz-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
	-o-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
	-webkit-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
	transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
}
.pulse:hover {
	opacity: 1;
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	-moz-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
	-o-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
	-webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
	transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

/* cards */
.card {
    padding: 20px;
    border-radius: 0px;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-top: 35px;

	background-color: #ffffff;
}
.cardtitlecontainer {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    left: 0px;
}
.cardtitle {
    font-family: 'Titillium Web', 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    top: -111px;
    position: absolute;
    width: 100%;
	color: #6ba8a0;
	margin: 0;
	margin-top: 15px;
}
.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #6ba8a0 transparent transparent transparent;
    position: absolute;
    left: 50%;
    margin-left: -30px;
}
.triangle-red {
	border-color: #dd786b transparent transparent transparent;
}
.triangle-gold {
	border-color: #ccac55 transparent transparent transparent;
}
.triangle-top {
    bottom: 31px;
    z-index: 4;
}
.triangle-bottom {
    border-color: #f0efef transparent transparent transparent;
    bottom: 5px;
    z-index: 3;
}

/* tiles */
.tile {
	width: 100%;
	height: 100%;
	background: #ffffff;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	
	margin-top: 2em;
	
	cursor: pointer;
}
.tile-big {
	
}
.tiletitle {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	padding: 50px;
	padding-bottom: 0px;
}
.insttitle {
	padding-top: 0;
	vertical-align: middle;
	position: relative;
	top: 50%;
	margin-top: -52px;
}
.tile-big .tiletitle {
	text-align: left;
	padding-top: 30px;
	padding-left: 30px;
}
.agrumenttitle {
	text-align: left;
	padding-left: 30px;
	text-transform: none;
	color: #6ba8a0;
	font-size: 24px;
	width: 45%;
}
.tile-news .tiletitle {
	text-align: left;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 0;
}
.tile-news .date {
	text-align: left;
	margin: 0;
	padding-top: 10px;
	padding-left: 30px;
	font-size: 12px;
}
.tiletext {
	font-size: 16px;
	padding-left: 30px;
	margin-top: 30px;
	width: 50%;
}
.tile-news .tiletext {
	width: 70%;
}
.arrow-down-right {
	width: 50%;
	height: 50%;
	position: absolute;
	background: #6ba8a0;
	bottom: 0;
	right: 0;
}
.arrow-down-right .icon-arrow-down-right {
	font-size: 50px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	color: #272727;
}

.tile-big .arrow-down-right {
	height: 100%;
	width: 50%;
	margin-right: -15px;
}
.tile-news .arrow-down-right {
	width: 25%;
}
.tile-agrument .arrow-down-right {
	background: url(../img/agrum.png);
}

/* tabs */
.tab {
	font-size: 16px;
	line-height: 41px;
	text-transform: uppercase;
	
	margin-top: 20px;
	margin-right: 20px;
	
	background: #9bc8c2;
	height: 42px;
	padding-left: 35px;
	padding-right: 35px;
	float: left;
	
	position: relative;
	
	margin-bottom: 13px;
	
	cursor: pointer;
}
.tab.selected {
	background: #6ba8a0;
}
.tab.selected::after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 12.5px 0 12.5px;
	border-color: #6ba8a0 transparent transparent transparent;
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -12.5px;
}

/* polaroids */
.polaroid {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	background: #ffffff;

	text-align: center;
	
	margin-top: 15px;
}
.polaroid .image {
	width: 100%;
	background-image: url('../img/filip.png');
	background-size: cover;
	margin-bottom: 15px;
	position: relative;
}
#filip {
	background-image: url('../img/filip.png');
}
#ziga {
	background-image: url('../img/ziga.png');
}
#nika {
	background-image: url('../img/nika.png');
}
#jasmina {
	background-image: url('../img/jasmina.png');
}
#eva {
	background-image: url('../img/eva.png');
}
.polaroid .image::after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 12.5px 12px 12.5px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -12.5px;
}
.polaroidname {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.polaroidlink {
}
.polaroidtext {
	font-weight: 300;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
}

/* popup */
.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	
	z-index: 100;
	
	background: rgba(194, 216, 216, 0.9);
	
	opacity: 0;
    visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;

	perspective: 1200px;
}
.popup.open {
	opacity: 1;
    visibility: visible;
	-webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.popupcontainer {
/*	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: transform 0.5s, opacity 0.5s;
    transform: translateY(-25%) rotateX(35deg);
    transition: transform 0.5s, opacity 0.5s;*/
}
.popup.open .popupcontainer {
/*	opacity: 1;
	-webkit-transition: transform 0.5s, opacity 0.5s;
	-webkit-transform: rotateX(0deg);
	transition: transform 0.5s, opacity 0.5s;
    transform: rotateX(0deg);*/
}
.popup .container .row .col-md-offset-3 {
	padding-top: 150px;
}

.popupclose {
	position: absolute;
	top: 30px;
	right: 30px;
	
	cursor: pointer;
	
	font-size: 40px;
	font-weight: 100;
}
.popuptext {
	font-weight: 300;
	font-size: 24px;
}
.popup input {
	text-align: center;
}

/* pravice */
#pravica-1 {
	background-image: url(../img/pravica1.png);
	background-repeat: no-repeat;
	background-position: center right;
}
#pravica-2 {
	background-image: url(../img/pravica2.png);
	background-repeat: no-repeat;
	background-position: center right;
}
#pravica-3 {
	background-image: url(../img/pravica3.png);
	background-repeat: no-repeat;
	background-position: center right;
}
.pravica {
	top: 0;
	left: 0;
	width: 100%;
	
	cursor: pointer;
	
	margin-top: 30px;
	
	background: gray;
}
.pravicatooltip {
	position: relative;
	height: 0px;
	overflow: hidden;
	
	padding: 0px;
	
	background: #ffffff;
	
	z-index: 99;
	
	margin-top: 0;
	
	-webkit-transition: all 1s;
	transition: all 1s;
}
.pravicatooltip::before {
	opacity: 0;
	position: absolute;
	top: -45px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 45px 45px 45px;
	border-color: transparent transparent #ffffff transparent;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.pravicatooltip.open {
	padding: 30px;
	height: 200px;
	margin-top: 30px;
	overflow: visible;
	
	-webkit-transition: all 1s;
	transition: all 1s;
}
.pravicatooltip.open::before {
	left: 10%;
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.pravicacontent {
	display: none;
}
.tooltipleft::before {
	left: 10% !important;
}
.tooltipright::before {
	left: 90% !important;
	margin-left: -90px;
}
.tooltipmiddle::before {
	left: 50% !important;
	margin-left: -45px;
}
.tooltipclose {
	position: absolute;
	right: 30px;
	top: 30px;
	color: #467871;
	font-size: 30px;
	cursor: pointer;
}
.tooltiptitle {
	color: #6ba8a0;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 15px;
}
.tooltiptext {
	font-size: 18px;
	font-weight: 300;
}

/* buttons */
.btn {
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0px;
    font-size: 18px;
    color: #ffffff !important;
    letter-spacing: 1px;
    background-color: #dd786b;
	position: relative;
}
.btn-popup {
	background: #1d7373;
	width: 100%;
	font-weight: 300;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.btn-popup .pulse {
	border-color: #1d7373;
}
.btn-popup .pulse:hover {
	-moz-transform: scale(1.017, 1.15);
	-ms-transform: scale(1.017, 1.15);
	-o-transform: scale(1.017, 1.15);
	-webkit-transform: scale(1.017, 1.15);
	transform: scale(1.02, 1.17);
}

/* form elements */
::-webkit-input-placeholder {
   color: #dad7d7;
}
:-moz-placeholder { /* Firefox 18- */
   color: #dad7d7;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #dad7d7;  
}
:-ms-input-placeholder {  
   color: #dad7d7;  
}
input.form-control {
    border-radius: 0px;
    outline: none;
    box-shadow:none !important;
    -webkit-appearance:none;
    border: 2px solid #ffffff;
    height: 44px;
    line-height: 18px;
    font-size: 18px;
	margin-bottom: 12px;
}
/* reset input glow */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus
{
    outline: none !important;
    box-shadow:none !important;
    -webkit-appearance:none;
    border-color: #1d7373 !important;
}
.btn:focus {
    outline: none;
    box-shadow:none !important;
    -webkit-appearance:none;
}

/* input magic SVG */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ac-custom {
}

.ac-custom ul,
.ac-custom ol {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.ac-custom li {
	margin: 0 auto;
	position: relative;
}

.ac-custom label {
	display: inline-block;
	position: relative;
	font-size: 18px;
	padding: 0 0 0 80px;
	vertical-align: top;
	color: #272727;
	font-weight: 300;
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	margin-top: 30px;
	margin-bottom: 42px;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.ac-custom label::before {
	content: '';
	border: 4px solid #ffffff;
	background: #ffffff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ac-radio label::before {
	border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
	color: #272727;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
}

/* General SVG and path styles */

.ac-custom svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -27px;
	left: 5px;
	pointer-events: none;
}

.ac-custom svg path {
	stroke: #6ba8a0;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle input[type="checkbox"],
.ac-circle input[type="radio"],
.ac-circle label::before {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	left: 10px;
	position: absolute;
}

.ac-circle label::before {
	background-color: #fff;
	border: none;
}

.ac-circle svg {
	width: 70px;
	height: 70px;
	margin-top: -35px;
	left: -10px;
}

.ac-circle svg path {
	stroke-width: 5px;
} 

/* Box Fill */
.ac-boxfill svg path {
	stroke-width: 8px;
} 

/* Swirl */
.ac-swirl svg path {
	stroke-width: 8px;
}

/* List */
.ac-list ol {
	list-style: decimal;
	list-style-position: inside;
}

.ac-list ol li {
	font-size: 2em;
	padding: 1em 1em 0 2em;
	text-indent: -40px;
}

.ac-list ol li label {
	font-size: 1em;
	text-indent: 0;
	padding-left: 30px;
}

.ac-list label::before {
	display: none;
}

.ac-list svg {
	width: 100%;
	height: 80px;
	left: 0;
	top: 1.2em;
	margin-top: 0px;
}

.ac-list svg path {
	stroke-width: 4px;
}


/* header */
#header {
	background-color: #6ba8a0;
	padding-top: 32px;
}
#menu {
	height: 32px;
	
	padding: 7px 8px 9px 8px;
	
	position: absolute;
	display: block;
	margin-left: 15px;
	top: 0px;
	
	cursor: pointer;

	background-color: #c2d8d8;
}
#menutoggle {
	color: #272727;
	font-size: 16px;
	
	display: inline-block;
	position: relative;
	top: 2px;
}
#nologo {
	font-size: 16px;
	color: #272727;
	font-weight: 700;
	text-transform: uppercase;

	margin: 0;

	display: inline-block;
}
#intro {
	font-size: 30px;
	color: #272727;
	font-weight: 200;
	line-height: 48px;
	
	margin-top: 64px;
	margin-bottom: 64px;
}
#title {
	font-size: 48px;
	color: #ffffff;
	font-weight: 600;
}

/* footer */
#footer {
	color: #585858;
	background-color: #dad7d7;
	padding-bottom: 36px;
	margin-top: 30px;
}
#footer .col-md-4 {
	text-align: center;
}
.footertext {
	font-weight: 400;
	font-size: 12px;
	width: 145px;
	padding-left: 11px;
	text-align: left;
	
	display: inline-block;
}
.footerlink {
	color: #6ba8a0;
}
#footerdivider {
	fill: #f0efef;
	background-color: #dad7d7;
	padding-bottom: 36px;
}
#newsletter {
	font-size: 60px;
	color: #dd786b;
	
	display: inline-block;
}
#newslettertext {
	position: relative;
	top: -6px;
}
#socialcontainer {
	margin-bottom: 30px;
}
.social {
	background-color: #6ba8a0;
	height: 60px;
	width: 60px;
	padding: 14px 14px 14px 14px;
	margin: 5px 10px 5px 10px;
	
	cursor: pointer;
	display: inline-block;
	
	position: relative;
	
	box-shadow: 0px 0px 1px 0px #ffffff inset;
}
.social:hover .icon {
	
}
.social .icon {
	font-size: 32px;
	color: #ffffff;
	margin-left: 0px;
}
#izkaznica {
	position: relative;
	top: -18px;
}

/* icons */
.circle {
	background-color: #6ba8a0;
	height: 60px;
	width: 60px;
	padding: 14px 14px 14px 14px;
	margin: 5px 10px 5px 10px;
	
	-webkit-border-radius: 50%;
	border-radius: 50%;
	
	cursor: pointer;
	display: inline-block;
	
	position: relative;
	
	box-shadow: 0px 0px 1px 0px #ffffff inset;
}
.circle-gold {
	background-color: #ccac55;
}
.circle-gold .pulse {
	border-color: #ccac55;
}
.circle-red {
	background-color: #dd786b;
}
.circle-red .pulse {
	border-color: #dd786b;
}
.circle .pulse {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.icon {
	font-size: 32px;
	color: #272727;
}
.icon-email {
	margin-left: -2px;
}






/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}