{% extends "wrapper.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div>
  <div class="border-b border-dark bg-th-primary-light">
    <div class="flex gap-10 max-w-screen-xl mx-auto px-14 pt-20 pb-10">
      <div class="basis-8/12">
        <h1 class="mb-6 last:mb-0 text-5xl font-semibold">{% translate "Trgovina" %}</h1>
        <p class="mb-6 last:mb-0 text-xl">{% translate "Kupi kaj in podpri naše delo." %}</p>
        <!-- <p class="mb-6 last:mb-0 text-xl">{{ page.description }}</p> -->
      </div>
      <div class="basis-4/12">
        <img src="https://placehold.it/200x50" alt="" class="w-full">
      </div>
    </div>
  </div>
  <div class="flex gap-10 max-w-screen-xl mx-auto px-14 py-16">
    <div class="basis-8/12">
      <div class="grid grid-cols-2 gap-6">
        ...
      </div>
    </div>
    <div class="basis-4/12"></div>
  </div>
</div>

{% endblock content %}
