// -----------------------------------------------------------------------------
// --- THIS FILE IS AUTO IMPORTED BEFORE EVERY VUE COMPONENT AND SCSS FILE
// --- DO NOT PUT ANY STYLE SELECTORS IN THIS FILE!!
// --- ONLY VARIABLES/FUNCTIONS/MIXINS
// -----------------------------------------------------------------------------

// ---
// Our variables
// ---


$color-green: #6ba8a0;
$color-red: #dd786b;
$color-yellow: #cdac54;

$color-parlameter: #009cdd;

$side-menu-width: 250px;
$content-mobile-padding: 1.5rem;
$top-bar-height: 48px;

@mixin wrapping-flex-tiles($width: 320px, $gap: 1.75rem, $width-xl: $width) {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-left: -($gap / 2);
  margin-right: -($gap / 2);

  > div {
    display: flex;
    flex: 1 0 $width;
    margin-left: ($gap / 2);
    margin-right: ($gap / 2);

    @include media-breakpoint-down(sm) {
      flex-shrink: 1;
    }

    @include media-breakpoint-up(xl) {
      flex-basis: $width-xl;
    }

    > * {
      margin-bottom: $gap;
    }
  }
}

// -----------------------------------------------------------------------------

// ---
// Change boostrap defaults here
// ---

$primary: $color-green;
$secondary: $color-red;
$warning: $color-yellow;

$theme-colors: (
  'parlameter': $color-parlameter,
  'black': #333333,
  'white': #ffffff,
);

$font-family-sans-serif: 'acumin-pro', sans-serif;
$font-family-okolaks: 'Okolaks WebFont', serif;
$font-family-comfortaa: 'Comfortaa', sans-serif;
$body-color: #333;

$enable-rounded: false;

$embed-responsive-aspect-ratios: (
  (1200 630),
);

$grid-breakpoints: (
  // bootstrap defaults:
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  // non-defaults:
  xxl: 1500px
);

$progress-bg: #f0efef;

// ---
// Import bootstrap functions and variables so that you can @import this file
// and use bootstrap breakpoint mixins
// ---
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
