{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% wagtail_site as current_site %}
        <title>                             {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}</title>
        <meta name="twitter:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}">
        <meta property="og:title"  content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}">

        <meta name="description"         content="{% if page.search_description %}{{ page.search_description }}{% else %}Danes je nov dan z delom na presečišču digitalnih tehnologij in demokratičnih procesov sooblikuje bolj vključujočo in pravičnejšo skupno prihodnost.{% endif %}">
        <meta property="og:description"  content="{% if page.search_description %}{{ page.search_description }}{% else %}Danes je nov dan z delom na presečišču digitalnih tehnologij in demokratičnih procesov sooblikuje bolj vključujočo in pravičnejšo skupno prihodnost.{% endif %}">
        <meta name="twitter:description" content="{% if page.search_description %}{{ page.search_description }}{% else %}Danes je nov dan z delom na presečišču digitalnih tehnologij in demokratičnih procesov sooblikuje bolj vključujočo in pravičnejšo skupno prihodnost.{% endif %}">

        <meta property="og:image"  content="https://danesjenovdan.si{% static 'favicons/og.jpg' %}">
        <meta name="twitter:image" content="https://danesjenovdan.si{% static 'favicons/og.jpg' %}">

        <meta name="author" content="danesjenovdan">
        <meta property="og:site_name" content="Danes je nov dan">
        <meta name="twitter:creator" content="@danesjenovdan">

        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary_large_image">

        <link rel="icon" type="image/svg+xml" href="{% static 'favicons/favicon.svg' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'favicons/favicon.png' %}">

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bundle.css' %}">

        {# Global javascript #}
        <script defer src="{% static 'js/alpinejs-3.13.5.min.js' %}"></script>
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block wrapper_content %}{% endblock %}
    </body>
</html>
