{% extends "base.html" %}
{% load static %}

{% block wrapper_content %}
<div class="text-dark">
  <aside class="fixed w-[250px] h-full border-r">
    {% include "includes/sidebar.html" %}
  </aside>
  <div class="ml-[250px] flex flex-col min-h-screen">
    <main class="flex-1">
      {% block content %}{% endblock content %}
    </main>
    <footer class="flex-shrink-0 flex-grow-0 border-t">
      {% include "includes/footer.html" %}
    </footer>
  </div>
</div>
{% endblock wrapper_content %}
