#menu {
    height: 32px;
    padding: 7px 8px 9px 8px;
    position: absolute;
    display: block;
    margin-left: 15px;
    top: 0px;
    cursor: pointer;
    background-color: white;
    z-index: 90;
}

.obcasniktext a{
    color:white;
    font-weight:300;
}

.rdec {
    background-color: #EF5350;
    padding:0 5px;
}

.oranzen {
    background-color:  #FFB74D;
    color: black;
    padding:0 5px;
}

.rumen {
    background-color: #FFEB3B;
    color:black;
    padding:0 5px;
}

.zelen {
    background-color: #8BC34A;
    color: black;
    padding: 0 5px;
    
}

.moder {
    background-color:#2196F3;
    color: black;
    padding:0 5px;
}

.vijolicen {
    background-color: #6A1B9A;
    padding:0 5px;
    
}
.obcasniktext a.rumen {
    color:black;
}

.obcasniktext a.zelen {
    color:black;
}

.obcasniktext a.oranzen {
    color:black;
}
.roza {
    background-color: #E91E63;
    padding:0 5px;
}

h4 {
    padding:15px 40px;
}

h5 {
    padding:15px 40px;
}

.modra {
    border-left-color: #2196F3;
}

.zelena {
    border-left-color: #8BC34A;
}

.rdeca{
    border-left-color: #EF5350; 
}

.bck-pink{
    background: #E91E63 !important;
    color:white;
}

.bck-brick2{
    background: #E91E63 !important;
}

.pulse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #E91E63;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 275ms;
    -o-transition-duration: 275ms;
    -webkit-transition-duration: 275ms;
    transition-duration: 275ms;
    -moz-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
    -o-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
    -webkit-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
    transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
    }


.bubble 
{
position: relative;
display:block;
    margin-bottom: 30px;
max-width:500px;
min-height:1.5em;
padding: 20px;
background: #FFFFFF;
border: #FFEB3B solid 4px;
    font-size:16px;
    font-weight: 600;
}

.bubble:after 
{
content: "";
position: absolute;
bottom: -15px;
left: 60%;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble:before 
{
content: "";
position: absolute;
bottom: -19.5px;
left: calc(60% - 3px) ;
border-style: solid;
border-width: 18px 18px 0;
border-color: #FFEB3B transparent;
display: block;
width: 0;
z-index: 0;
}

.bubble2 
{
position: relative;
display:block;
    margin-bottom: 30px;
max-width:500px;
min-height:1.5em;
padding: 20px;
background: #FFFFFF;
border: #6a1b9a solid 4px;
    font-size: 16px;
    font-weight: 600;
}

.bubble2:after 
{
content: "";
position: absolute;
bottom: -15px;
left: 20%;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble2:before 
{
content: "";
position: absolute;
bottom: -19.5px;
left: calc(20% - 3px) ;
border-style: solid;
border-width: 18px 18px 0;
border-color: #6a1b9a transparent;
display: block;
width: 0;
z-index: 0;
}

.link-red{
     color: #E91E63 !important;
}

#newsletter {
    font-size: 60px;
    color: #E91E63 !important;
    position: relative;
    top: -8px;
    left: 50%;
    margin-left: -103px;
    display: inline-block;
    cursor: pointer;}

.col-red {
    color: #E91E63 !important;